<!-- application -->
<div class="container">
  

<div class="d-flex flex-column">


  <div class="p-my-2 p-d-flex p-jc-end">
    <button type="button" (click)="createGame()"  class="btn btn-primary">{{ "games.create-new-game" | translate}}</button>
  </div>

  <div class="p-my-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{'global.search' | translate}}" aria-label="Search" aria-describedby="button-addon2"  [(ngModel)]="gameSearchOptions.search" (keydown.enter)="searchClick()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)="searchClick()" ><i class="fa fa-search"></i></button>
      </div>
    </div>
    <!-- <div class="p-d-flex p-jc-center p-mt-1" *ngIf="!isAuthenticated">
      <div [innerHTML]="'games.terms-of-service' | translate"></div>
    </div> -->
  </div>
   

  <p-table #gamesTable
          [value]="gameSearchResult.items"
          [resizableColumns]="true"
          [autoLayout]="true"
          [rowHover]="true"
          [lazy]="true"
          (onLazyLoad)="loadData($event)"
          [paginator]="true"
          paginatorPosition="both"
          [rows]="30"
          [totalRecords]="gameSearchResult.totalItems"
          [showCurrentPageReport]="false"
          currentPageReportTemplate="{{'grids.total' | translate}}: {{gameSearchResult.totalItems}}"
          [loading]="loading">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">{{'game.field.name' | translate}} <p-sortIcon [field]="'name'"></p-sortIcon></th>
        <th>{{'game.field.status' | translate}}</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-game>
      <tr>
        <td><span>{{ game.name }}</span></td>
        <td><span *ngIf="!game.canJoin">{{'game.field.status.full' | translate}}</span><span *ngIf="game.canJoin">{{'game.field.status.open' | translate}}</span></td>
        <td>
            <a *ngIf="game.canJoin"  [routerLink]="['/invite', game.guid]">{{'game.join-game' | translate}}</a>
        </td>
      </tr>
    </ng-template>
      
  </p-table>

  <p-sidebar [(visible)]="showGameCreation" position="right" styleClass="p-sidebar-md">

    <h1>{{ "games.create-new-game" | translate}}</h1>

    <div class="p-fluid">
      <div class="p-field">
          <label for="game_name">{{ "game.field.name" | translate}}*</label>
          <input id="game_name" #game_name="ngModel" [(ngModel)]="newGame.name" [disabled]="loading" type="text" pInputText required> 
          <div *ngIf="game_name.invalid && (game_name.dirty || game_name.touched)" class="requried-input-field">
            <div *ngIf="game_name.errors.required">*{{ "game.field.name.required" | translate}}</div>
          </div>
      </div>
      <div class="p-d-flex p-jc-end">
        <button type="button" (click)="saveGame()" [disabled]="newGame?.name == null || newGame.name == '' " class="btn btn-primary float-right">{{ "global.create" | translate}}</button>
      </div>
    </div>
    
  </p-sidebar>

</div>

</div>