<div class="p-d-flex p-flex-column">
  
  <div class="p-my-2 p-d-flex p-jc-end">
    <button *ngIf="isAuthenticated" type="button" (click)="createCard()"  class="btn btn-primary">{{ "cards.create-your-own" | translate}}</button>
    <h1 *ngIf="!isAuthenticated" >{{ "cards.login-to-create-your-own" | translate}}</h1>
  </div>

  <div class="p-my-2">
    <ngx-slick-carousel *ngIf="showCarousel" class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let card of cardSearchResult.items" class="slide">
        <img src="{{apiUri + card.jpeg}}"  style="max-width: 95%" draggable="false" *ngIf="card"/>
      </div>
    </ngx-slick-carousel>
  </div>

  <div class="p-my-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{'global.search' | translate}}" aria-label="Search" aria-describedby="button-addon2"  [(ngModel)]="cardSearchOptions.search" (keydown.enter)="searchClick()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)="searchClick()" ><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <a class="searchlink" role="button" [routerLink]="" queryParamsHandling="preserve" (click)="toggleAvancedSearch()">{{ "global.search.advanced" | translate}}</a>
      <a class="searchlink" role="button" [routerLink]="" queryParamsHandling="preserve" (click)="clear()">{{ "global.search.clear" | translate}}</a>
    </div>
  </div>

  <p-panel class="p-my-2" [toggleable]="true" [collapsed]="hideAvancedSearch" [showHeader]="false">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
          <label for="search_card_type">{{ "card.field.type" | translate }}</label>
          <p-dropdown dataKey="guid" inputId="search_card_type" [options]="cardOptions?.cardTypes" [(ngModel)]="cardSearchOptions.cardType" showClear="true" placeholder="{{ 'global.select' | translate }}" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field p-col">
        <label for="search_card_faction">{{ "card.field.faction" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="search_card_faction" [options]="cardOptions?.factions" [(ngModel)]="cardSearchOptions.faction" showClear="true" placeholder="{{ 'global.select' | translate }}" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field p-col">
        <label for="search_card_cost">{{ "card.field.cost" | translate }}</label>
        <input id="search_card_cost" type="text" pInputText [(ngModel)]="cardSearchOptions.cost"> 
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="search_card_loyalty">{{ "card.field.loyalty" | translate }}</label>
        <p-dropdown optionLabel="label" optionValue="value" inputId="search_card_loyalty" [options]="loyalties" [(ngModel)]="cardSearchOptions.loyalty" showClear="true" placeholder="{{ 'global.select' | translate }}" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field p-col">
        <label for="search_card_serie">{{ "card.field.serie" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="search_card_serie" [options]="cardOptions?.series" [(ngModel)]="cardSearchOptions.serie" showClear="true" placeholder="{{ 'global.select' | translate }}" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field p-col">
        <label for="search_card_status">{{ "card.field.status" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="search_card_status" [options]="cardOptions?.statuses" [(ngModel)]="cardSearchOptions.status" showClear="true" placeholder="{{ 'global.select' | translate }}" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field p-col">
        <label for="search_card_language">{{ "card.field.language" | translate }}</label>
        <p-autoComplete [(ngModel)]="cardSearchOptions.language" inputId="search_card_language" [suggestions]="languages" placeholder="{{ 'global.select' | translate }}" (completeMethod)="searchLanguage($event)" [dropdown]="true" field="name" dataKey="languageCode"></p-autoComplete>
      </div>
    </div>
  </p-panel>


  <p-table #cardsTable
          [value]="cardSearchResult.items"
          [resizableColumns]="true"
          [autoLayout]="true"
          [rowHover]="true"
          [lazy]="true"
          (onLazyLoad)="loadData($event)"
          [paginator]="true"
          paginatorPosition="both"
          [rows]="30"
          [totalRecords]="cardSearchResult.totalItems"
          [showCurrentPageReport]="false"
          currentPageReportTemplate="{{'grids.total' | translate}}: {{cardSearchResult.totalItems}}"
          [loading]="loading">

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="name">{{ "card.field.name" | translate }} <p-sortIcon [field]="'name'"></p-sortIcon></th>
        <th pSortableColumn="type.name">{{ "card.field.type" | translate }} <p-sortIcon [field]="'type.name'"></p-sortIcon></th>
        <th pSortableColumn="faction.name">{{ "card.field.faction" | translate }} <p-sortIcon [field]="'faction.name'"></p-sortIcon></th>
        <th pSortableColumn="cost">{{ "card.field.cost.short" | translate }} <p-sortIcon [field]="'cost'"></p-sortIcon></th>
        <th pSortableColumn="loyalty">{{ "card.field.loyalty.short" | translate }} <p-sortIcon [field]="'loyalty'"></p-sortIcon></th>
        <th pSortableColumn="attack">{{ "card.field.attack.short" | translate }} <p-sortIcon [field]="'attack'"></p-sortIcon></th>
        <th pSortableColumn="defense">{{ "card.field.defense.short" | translate }} <p-sortIcon [field]="'defense'"></p-sortIcon></th>
        <th pSortableColumn="serie.name">{{ "card.field.serie" | translate }} <p-sortIcon [field]="'serie.name'"></p-sortIcon></th>
        <th pSortableColumn="artist">{{ "card.field.artist" | translate }} <p-sortIcon [field]="'artist'"></p-sortIcon></th>
        <!-- <th pSortableColumn="creator.name">{{ "card.field.creator" | translate }} <p-sortIcon [field]="'creator.name'"></p-sortIcon></th> -->
        <th *ngIf="isAuthenticated" pSortableColumn="lastModifiedTime">{{ "global.last-edit" | translate }} <p-sortIcon [field]="'lastModifiedTime'"></p-sortIcon></th>
        <th *ngIf="isAuthenticated" pSortableColumn="status.name">{{ "card.field.status" | translate }} <p-sortIcon [field]="'status.name'"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-card>
      <tr>
        <td><a (mouseenter)="selectCard($event,card,cardOverlayPanel)" ><i class="fas fa-info-circle"></i></a></td>
        <td><a [title]="card.name" [routerLink]="['/cards', card.guid]">{{ card.name }}</a></td>
        <td>{{card.type.name}}</td>
        <td>{{card.faction.name}}</td>
        <td style="text-align:center">{{card.cost}}</td>
        <td style="text-align:center">{{card.loyalty}}</td>
        <td style="text-align: center">{{card.attack}}</td>
        <td style="text-align:center">{{card.defense}}</td>
        <td>{{card.serie.name}}</td>
        <td>{{card.artist}}</td>
        <!-- <td>{{card.creator.name}}</td> -->
        <td *ngIf="isAuthenticated">{{card.lastModifiedTime | date:'yyyy-MM-dd'}}</td>
        <td *ngIf="isAuthenticated">{{card.status.name}}</td>

      
        
      </tr>
    </ng-template>
    
  </p-table>

  <p-overlayPanel #cardOverlayPanel>
    <img src="{{apiUri + selectedCard.jpeg}}" *ngIf="selectedCard" height="150px"/>
  </p-overlayPanel>

  <p-sidebar [(visible)]="showCardCreation" position="right" styleClass="p-sidebar-md">
    <h1>{{ "cards.create-new-card" | translate }}</h1>

    <div class="p-fluid">
      <div class="p-field">
          <label for="card_name">{{ "card.field.name" | translate }}*</label>
          <input id="card_name" #card_name="ngModel" [(ngModel)]="newCard.name" [disabled]="loading" type="text" pInputText required> 
          <div *ngIf="card_name.invalid && (card_name.dirty || card_name.touched)" class="requried-input-field">
            <div *ngIf="card_name.errors.required">*{{ "card.field.name.required" | translate }}</div>
          </div>
      </div>
      <div class="p-field">
        <label for="new_card_serie">{{ "card.field.serie" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="new_card_serie" [options]="cardOptions?.series" [(ngModel)]="newCard.serie" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field">
        <label for="new_card_faction">{{ "card.field.faction" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="new_card_faction" [options]="cardOptions?.factions" [(ngModel)]="newCard.faction" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-field">
        <label for="new_card_type">{{ "card.field.type" | translate }}</label>
        <p-dropdown dataKey="guid" inputId="new_card_type" [options]="cardOptions?.cardTypes" [(ngModel)]="newCard.type" optionLabel="name" [disabled]="loading"></p-dropdown> 
      </div>
      <div class="p-d-flex p-jc-end">
        <button type="button" (click)="saveCard()" [disabled]="newCard?.name == null || newCard.name == '' " class="btn btn-primary float-right">{{ "global.save" | translate }}</button>
      </div>
    </div>

  </p-sidebar>

</div>
