<div class="p-fluid" *ngIf="!passwordResetEmailSent" >
    <div class="p-field">
        <label for="email">{{'password-forget.email-info' | translate }}</label>
        <input id="email" type="text"  #password_forget_email="ngModel" [(ngModel)]="email" [disabled]="loading" required pInputText> 
        <div *ngIf="password_forget_email.invalid && (password_forget_email.dirty || password_forget_email.touched)" class="requried-input-field">
            <div *ngIf="password_forget_email.errors.required">{{'password-forget.email.required' | translate }}</div>
        </div>
    </div>
    <div *ngIf="passwordResetErrorMessage">{{passwordResetErrorMessage}}</div>
    
    <div class="p-d-flex p-jc-end">
        <button type="button" (click)="requestPasswordReset()" [disabled]="email == null || email == '' " class="btn btn-primary float-right">{{'password-forget.send-email' | translate }}</button>
    </div>
</div>

<div class="p-fluid" *ngIf="passwordResetEmailSent">
    <h1>{{ 'password-forget.email-sent' | translate}}</h1>
</div>