<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Arcmage Battle</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />

    <link rel="stylesheet" type="text/css" href="vue-modal/modal.css">
    <!--<link rel="stylesheet" type="text/css" href="roundslider/roundslider.min.css" />-->
    <link rel="stylesheet" type="text/css" href="rolladie/roll-a-die.css">
    <link rel="stylesheet" type="text/css" href="style.css">
	
</head>

<body id="arcmagegame" translate="no">

<div class="curtain">
<div class="curtain__wrapper">
<div class="curtain_opener" v-bind:class="{ 'curtain__opener_hide': !player.showCurtain }" v-on:click="openCurtain()"></div>
    
<div class="curtain__panel curtain__panel--left" v-bind:class="{ 'curtain__closed': player.showCurtain }">
    <h1 class="curtain__text">{{{curtainLeftText}}}</h1>
</div>

    <!--the entire content -->
<div id="content">



<div class="actions" id="actions">
    <div class="actionsText">
        <template v-for="(index, action) in actions" track-by="$index">
            <span class="action_item">{{action}}</span>
        </template>
    </div>
</div>



<!-- Region: BattleField -->
    
<!-- the battleField contains (on this element and it children, the perspective is applied) -->
<div id="battleField">
    <!--<div id="helper1"></div>
    <div id="helper2"></div>-->
    <!-- the battleField backgrounds -->
    <div id="opponentField"></div>
    <div id="playerField"></div>

    <div id="battleFieldDrop"></div>



    <!-- Region : Opponent -->
    <!-- Action bar for the opponent hand. It is a drop target to move cards to the opponents hand -->
    <div id="opponentHand">
        <!-- Take a card from the opponent's hand and put it in the player's hand -->
        <!-- N.G. Remark: probably not needed as an action -->
        <div class="action draw_action" @click="moveCardFrom('drawCard', opponent.playerGuid, 'hand', opponent.playerGuid, 'hand', false)">
            <div class="tooltip-content">
                <p>Draw a card from your opponent's hand to your hand.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's hand and put it in his graveyard -->
        <!-- N.G. Remark: probably not needed as an action, or it should do it randomly -->
        <div class="action graveyard_action" @click="moveCardFrom('discardCard', opponent.playerGuid, 'hand', opponent.playerGuid, 'graveyard', false)">
            <div class="tooltip-content">
                <p>Put a card from your opponent's hand to their graveyard.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's hand and put it on top of his deck, face down -->
        <!-- N.G. Remark: probably not needed as an action -->
        <div class="action deck_action" @click="moveCardFrom('deckCard', opponent.playerGuid, 'hand', opponent.playerGuid, 'deck', true)">
            <div class="tooltip-content">
                <p>Put a card from your opponent's hand to their deck.</p>
            </div>
        </div>
        <!-- Take a card from the opponent hand and put it in play as one of his cards -->
        <!-- N.G. Remark: probably not needed as an action -->
        <div class="action play_action" @click="moveCardFrom('playCard', opponent.playerGuid, 'hand', opponent.playerGuid, 'play', false)">
            <div class="tooltip-content">
                <p>Put a card from your opponent's hand into play.</p>
            </div>
        </div>
        <!-- Shuffle the opponent's hand -->
        <!-- N.G. Remark: probably not needed as an action -->
        <div class="action shuffle_action" @click="shuffleCards(opponent.playerGuid, 'hand')">
            <div class="tooltip-content">
                <p>Shuffle your opponent's hand.</p>
            </div>
        </div>
        <!-- Look at the opponent's hand in detail (reorder, select a card, discard a card, ...) -->
        <div class="action view_action" @click="showCardList(opponent.playerGuid, 'hand')">
            <div class="tooltip-content">
                <p>Search your opponent's hand.</p>
            </div>
        </div>
        <!-- Show how many cards there are in the opponent's hand -->
        <div class="action count_action">
            <span>{{opponent.hand.length}}</span>
            <div class="tooltip-content">
                <p>The number of cards in your opponent's hand.</p>
            </div>
        </div>
    </div>

    <!-- Action bar for the opponent's graveyard. -->
    <div id="opponentGraveyardActions">
        <!-- Take a card from the opponent's graveyard and put it in the player's hand -->
        <div class="action draw_action" @click="moveCardFrom('drawCard', opponent.playerGuid, 'graveyard', player.playerGuid, 'hand', false)">
            <div class="tooltip-content">
                <p>Draw the top card from your opponent's graveyard to your hand.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's graveyard and put it on top of his deck, face down -->
        <div class="action deck_action" @click="moveCardFrom('deckCard', opponent.playerGuid, 'graveyard', opponent.playerGuid, 'deck', true)">
            <div class="tooltip-content">
                <p>Put the top card from your opponent's graveyard to their deck.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's graveyard and put it in to play as one of his cards -->
        <div class="action play_action" @click="moveCardFrom('playCard', opponent.playerGuid, 'graveyard', opponent.playerGuid, 'play', false)">
            <div class="tooltip-content">
                <p>Put the top card from your opponent's graveyard into play.</p>
            </div>
        </div>
        <!-- Shuffle the opponent's graveyard -->
        <div class="action shuffle_action" @click="shuffleCards(opponent.playerGuid, 'graveyard')">
            <div class="tooltip-content">
                <p>Shuffle your opponent's graveyard.</p>
            </div>
        </div>
        <!-- Look at the opponent's graveyard in detail (reorder, select a card, discard a card, ...) -->
        <div class="action view_action" @click="showCardList(opponent.playerGuid, 'graveyard')">
            <div class="tooltip-content">
                <p>Search your opponent's graveyard.</p>
            </div>
        </div>
        <!-- Show how many cards there are in the opponent's graveyard -->
        <div class="action count_action">
            <span>{{opponent.graveyard.length}}</span>
            <div class="tooltip-content">
                <p>The number of cards in your opponent's graveyard.</p>
            </div>
        </div>
    </div>
    <!-- The opponent graveyard. It is a drop target to move cards to the opponent's graveyard -->
    <div id="opponentGraveyard">
        <!-- Template for a card in the graveyard. The cards have a litle offset so they appear to be stacked -->
        <template v-for="(index, card) in opponent.graveyard">
            <img class="card"
                 v-bind:src="card.isFaceDown? 'back.webp' : card.imageSrc"
                 id="opponent-graveyard-{{card.cardId}}"
                 :style="{ top: -0.5*index + 'px', left: 0.4*index + 'px' }"
                 v-on:mouseover="this.$parent.showPreview(card)"
                 v-on:mouseout="this.$parent.hidePreview(card)" />
        </template>
    </div>

    <!-- Action bar for the opponent's deck. -->
    <div id="opponentDeckActions">
        <!-- Take a card from the opponent's deck and put it in the player's hand -->
        <div class="action draw_action" @click="moveCardFrom('drawCard', opponent.playerGuid, 'deck', player.playerGuid, 'hand', false)">
            <div class="tooltip-content">
                <p>Draw the top card from your opponent's deck to your hand.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's deck and put it in his graveyard -->
        <div class="action graveyard_action" @click="moveCardFrom('discardCard', opponent.playerGuid, 'deck', opponent.playerGuid, 'graveyard', false)">
            <div class="tooltip-content">
                <p>Put the top card from your opponent's deck into their graveyard.</p>
            </div>
        </div>
        <!-- Take a card from the opponent's deck and put it in to play as one of his cards -->
        <div class="action play_action" @click="moveCardFrom('playCard', opponent.playerGuid, 'deck', opponent.playerGuid, 'play', false)">
            <div class="tooltip-content">
                <p>Put the top card from your opponent's deck into play.</p>
            </div>
        </div>
        <!-- Shuffle the opponent's graveyard -->
        <div class="action shuffle_action" @click="shuffleCards(opponent.playerGuid, 'deck')">
            <div class="tooltip-content">
                <p>Shuffle your opponent's deck.</p>
            </div>
        </div>
        <!-- Look at the opponent's deck in detail (reorder, select a card, discard a card, ...) -->
        <div class="action view_action" @click="showCardList(opponent.playerGuid, 'deck')">
            <div class="tooltip-content">
                <p>Search your opponent's deck.</p>
            </div>
        </div>
        <!-- Show how many cards there are in the opponent's deck -->
        <div class="action count_action">
            <span>{{opponent.deck.length}}</span>
            <div class="tooltip-content">
                <p>The number of cards in your opponent's deck.</p>
            </div>
        </div>
    </div>
    <!-- The opponent's deck. It is a drop target to move cards to the opponent's deck -->
    <div id="opponentDeck">
        <!-- Template for a card in the graveyard. The cards have a litle offset so they appear to be stacked -->
        <template v-for="(index, card) in opponent.deck">
            <img class="card" v-bind:src="card.isFaceDown? 'back.webp' : card.imageSrc"
                 id="opponent-deck-{{card.cardId}}"
                 :style="{ top: -0.5*index + 'px', left: 0.4*index + 'px' }"
                 v-on:mouseover="this.$parent.showPreview(card)"
                 v-on:mouseout="this.$parent.hidePreview(card)" />
        </template>
    </div>

    <!--
    The opponent's resources bar. There are resource counters in black, yellow, green, blue and red.
    Each resource has an 'available' and a 'used' counter. The available resources are within the [0,99] interval.
    The used resources are limited by the available counter.

    Each counter can be increased and decreased by clickin on the top/bottom of the number. The mouse wheel works as well.
    -->
    <div id="opponentResources">
        <div class="resource blackResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, opponent.playerGuid, opponent.resources.black)">
                <div class="spinbutton" v-on:click="increaseUsedResource(opponent.playerGuid, opponent.resources.black)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(opponent.playerGuid, opponent.resources.black)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, opponent.resources.black)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(opponent.playerGuid, opponent.resources.black)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(opponent.playerGuid, opponent.resources.black)"></div>
            </div>
            <span class="resourceCounter">{{opponent.resources.black.used}}/{{opponent.resources.black.available}}</span>
        </div>
        <div class="resource yellowResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, opponent.playerGuid, opponent.resources.yellow)">
                <div class="spinbutton" v-on:click="increaseUsedResource(opponent.playerGuid, opponent.resources.yellow)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(opponent.playerGuid, opponent.resources.yellow)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, opponent.playerGuid, opponent.resources.yellow)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(opponent.playerGuid, opponent.resources.yellow)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(opponent.playerGuid, opponent.resources.yellow)"></div>
            </div>
            <span class="resourceCounter">{{opponent.resources.yellow.used}}/{{opponent.resources.yellow.available}}</span>
        </div>
        <div class="resource greenResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, opponent.playerGuid, opponent.resources.green)">
                <div class="spinbutton" v-on:click="increaseUsedResource(opponent.playerGuid, opponent.resources.green)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(opponent.playerGuid, opponent.resources.green)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, opponent.playerGuid, opponent.resources.green)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(opponent.playerGuid, opponent.resources.green)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(opponent.playerGuid, opponent.resources.green)"></div>
            </div>
            <span class="resourceCounter">{{opponent.resources.green.used}}/{{opponent.resources.green.available}}</span>
        </div>
        <div class="resource blueResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, opponent.playerGuid, opponent.resources.blue)">
                <div class="spinbutton" v-on:click="increaseUsedResource(opponent.playerGuid, opponent.resources.blue)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(opponent.playerGuid, opponent.resources.blue)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, opponent.playerGuid, opponent.resources.blue)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(opponent.playerGuid, opponent.resources.blue)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(opponent.playerGuid, opponent.resources.blue)"></div>
            </div>
            <span class="resourceCounter">{{opponent.resources.blue.used}}/{{opponent.resources.blue.available}}</span>
        </div>
        <div class="resource redResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, opponent.playerGuid, opponent.resources.red)">
                <div class="spinbutton" v-on:click="increaseUsedResource(opponent.playerGuid, opponent.resources.red)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(opponent.playerGuid, opponent.resources.red)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, opponent.playerGuid, opponent.resources.red)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(opponent.playerGuid, opponent.resources.red)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(opponent.playerGuid, opponent.resources.red)"></div>
            </div>
            <span class="resourceCounter">{{opponent.resources.red.used}}/{{opponent.resources.red.available}}</span>
        </div>
    </div>

    <!-- EndRegion : Opponent -->
    <!-- Region : Player -->
    <!-- Action bar for the player's deck. -->
    <div id="playerDeckActions">
        <!-- Take a card from the player's deck and put it in his hand -->
        <div class="action draw_action" @click="moveCardFrom('drawCard', player.playerGuid, 'deck', player.playerGuid, 'hand', false)">
            <div class="tooltip-content">
                <p>Draw the top card from your deck to your hand.</p>
            </div>
        </div>
        <!-- Take a card from the player's deck and put it in his graveyard -->
        <div class="action graveyard_action" @click="moveCardFrom('discardCard', player.playerGuid, 'deck', player.playerGuid, 'graveyard', false)">
            <div class="tooltip-content">
                <p>Put the top card from your deck into your graveyard.</p>
            </div>
        </div>
        <!-- Take a card from the players's deck and put it in to play as one of his cards -->
        <div class="action play_action" @click="moveCardFrom('playCard', player.playerGuid, 'deck', player.playerGuid, 'play', false)">
            <div class="tooltip-content">
                <p>Put the top card from your deck into play.</p>
            </div>
        </div>
        <!-- Shuffle the player's graveyard -->
        <div class="action shuffle_action" @click="shuffleCards(player.playerGuid, 'deck')">
            <div class="tooltip-content">
                <p>Shuffle your deck.</p>
            </div>
        </div>
        <!-- Look at the player's deck in detail (reorder, select a card, discard a card, ...) -->
        <div class="action view_action" @click="showCardList(player.playerGuid, 'deck')">
            <div class="tooltip-content">
                <p>Search your deck.</p>
            </div>
        </div>
        <!-- Show how many cards there are in the players's deck -->
        <div class="action count_action">
            <span>{{player.deck.length}}</span>
            <div class="tooltip-content">
                <p>The number of cards in your deck.</p>
            </div>
        </div>
    </div>
    <!-- The player's deck. It is a drop target to move cards to the player's deck -->
    <div id="playerDeck">
        <!-- Template for a card in the deck. The cards have a litle offset so they appear to be stacked -->
        <template v-for="(index, card) in player.deck">
            <img class="card"
                 v-bind:src="card.isFaceDown? 'back.webp' : card.imageSrc"
                 id="player-deck-{{card.cardId}}"
                 :style="{ top: -0.5*index + 'px', left: 0.4*index + 'px' }"
                 v-on:mouseover="this.$parent.showPreview(card)"
                 v-on:mouseout="this.$parent.hidePreview(card)" />
        </template>
    </div>

    <!-- Action bar for the player's graveyard. -->
    <div id="playerGraveyardActions">
        <!-- Take a card from the player's graveyard and put it in the player's hand -->
        <div class="action draw_action" @click="moveCardFrom('drawCard', player.playerGuid, 'graveyard', player.playerGuid, 'hand', false)">
            <div class="tooltip-content">
                <p>Draw the top card from your graveyard to your hand.</p>
            </div>
        </div>
        <!-- Take a card from the player's graveyard and put it on top of his deck, face down -->
        <div class="action deck_action" @click="moveCardFrom('deckCard', player.playerGuid, 'graveyard', player.playerGuid, 'deck', true)">
            <div class="tooltip-content">
                <p>Put the top card from your graveyard to your deck.</p>
            </div>
        </div>
        <!-- Take a card from the player's deck and put it in to play as one of his cards -->
        <div class="action play_action" @click="moveCardFrom('playCard', player.playerGuid, 'graveyard', player.playerGuid, 'play', false)">
            <div class="tooltip-content">
                <p>Put the top card from your graveyard into play.</p>
            </div>
        </div>
        <!-- Shuffle the player's graveyard -->
        <div class="action shuffle_action" @click="shuffleCards(player.playerGuid, 'graveyard')">
            <div class="tooltip-content">
                <p>Shuffle your graveyard.</p>
            </div>
        </div>
        <!-- Look at the player's graveyard in detail (reorder, select a card, discard a card, ...) -->
        <div class="action view_action" @click="showCardList(player.playerGuid, 'graveyard')">
            <div class="tooltip-content">
                <p>Search your graveyard.</p>
            </div>
        </div>
        <!-- Show how many cards there are in the players's graveyard -->
        <div class="action count_action">
            <span>{{player.graveyard.length}}</span>
            <div class="tooltip-content">
                <p>The number of cards in your graveyard.</p>
            </div>
        </div>
    </div>
    <!-- The player's graveyard. It is a drop target to move cards to the player's graveyard -->
    <div id="playerGraveyard">
        <!-- Template for a card in the graveyard. The cards have a litle offset so they appear to be stacked -->
        <template v-for="(index, card) in player.graveyard">
            <img class="card"
                 v-bind:src="card.isFaceDown? 'back.webp' : card.imageSrc"
                 id="player-graveyard-{{card.cardId}}"
                 :style="{ top: -0.5*index + 'px', left: 0.4*index + 'px' }"
                 v-on:mouseover="this.$parent.showPreview(card)"
                 v-on:mouseout="this.$parent.hidePreview(card)" />
        </template>
    </div>

    <!-- Background for the player hand -->
    <div id="playerHandDecoration"></div>
    <!--
    The player's hand. It is a drop target to move cards to the player's hand.
    It is also a drag source (card in the hand can be draged)
    -->
    <div id="playerHand" v-bind:class="{ 'droptarget': highlightPlayerHand}">
        <!--
        Template for a card in the hand. Card in the hand can be:
        - dragged, by dragging
        - marked/unmarked, by doubleclick
        - put face up/down, by rightclick (contextclick)
        -->
        <template v-for="card in player.hand">

            <div class="card draggable-card animatecardmove"
                 id="player-hand-{{card.cardId}}"
                 v-bind:class="{ 'rotate': card.isMarked, 'rotate-reset' : !card.isMarked, 'flip-card-hover' : !card.isFaceDown }"
                 v-on:dblclick="this.$parent.toggleMark(card)"
                 v-on:contextmenu.prevent="this.$parent.toggleFaceDown(card)"
                 v-on:mouseover="this.$parent.showPreview(card)"
                 v-on:mouseout="this.$parent.hidePreview(card)"
                 v-bind:style="{ top: card.top + 'px' , left: card.left + 'px' }"
                 v-draggable="{ fromPlayerGuid: player.playerGuid, fromKind: 'hand', item: card, isDraggable: card.isDraggable,  top: card.top, left: card.left} ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="back.webp" />
                    </div>
                    <div class="flip-card-back">
                        <img v-bind:src="card.imageSrc" />
                    </div>
                </div>
                <div class="flip-card-resources">
                    <div class="flip-card-resource flip-card-resource-black" v-on:click="this.$parent.playResourceCard(card, 'black')">
                        <div class="tooltip-content">
                            <p>Convert to Dark Legion resource (black).</p>
                        </div>
                    </div>
                    <div class="flip-card-resource flip-card-resource-yellow" v-on:click="this.$parent.playResourceCard(card, 'yellow')">
                        <div class="tooltip-content">
                            <p>Convert to The Empire resource (yellow).</p>
                        </div>
                    </div>
                    <div class="flip-card-resource flip-card-resource-green" v-on:click="this.$parent.playResourceCard(card, 'green')">
                        <div class="tooltip-content">
                            <p>Convert to Gaian resource (green).</p>
                        </div>
                    </div>
                    <div class="flip-card-resource flip-card-resource-blue" v-on:click="this.$parent.playResourceCard(card, 'blue')">
                        <div class="tooltip-content">
                            <p>Convert to House of Noble resource (blue).</p>
                        </div>
                    </div>
                    <div class="flip-card-resource flip-card-resource-red" v-on:click="this.$parent.playResourceCard(card, 'red')">
                        <div class="tooltip-content">
                            <p>Convert to Red Banner resource (red).</p>
                        </div>
                    </div>
                </div>
            </div>

        </template>
    </div>

    <!--
    The opponent's resources bar. There are resource counters in black, yellow, green, blue and red.
    Each resource has an 'available' and a 'used' counter. The available resources are within the [0,99] interval.
    The used resources are limited by the available counter.

    Each counter can be increased and decreased by clicking on the top/bottom of the number. The mouse wheel works as well.
    -->
    <div id="playerResources">
        <div class="resource blackResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, player.playerGuid, player.resources.black)">
                <div class="spinbutton" v-on:click="increaseUsedResource(player.playerGuid, player.resources.black)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(player.playerGuid, player.resources.black)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, player.playerGuid, player.resources.black)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(player.playerGuid, player.resources.black)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(player.playerGuid, player.resources.black)"></div>
            </div>
            <span class="resourceCounter">{{player.resources.black.used}}/{{player.resources.black.available}}</span>
        </div>
        <div class="resource yellowResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, player.playerGuid, player.resources.yellow)">
                <div class="spinbutton" v-on:click="increaseUsedResource(player.playerGuid, player.resources.yellow)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(player.playerGuid, player.resources.yellow)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, player.playerGuid, player.resources.yellow)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(player.playerGuid, player.resources.yellow)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(player.playerGuid, player.resources.yellow)"></div>
            </div>
            <span class="resourceCounter">{{player.resources.yellow.used}}/{{player.resources.yellow.available}}</span>
        </div>
        <div class="resource greenResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, player.playerGuid, player.resources.green)">
                <div class="spinbutton" v-on:click="increaseUsedResource(player.playerGuid, player.resources.green)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(player.playerGuid, player.resources.green)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, player.playerGuid, player.resources.green)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(player.playerGuid, player.resources.green)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(player.playerGuid, player.resources.green)"></div>
            </div>
            <span class="resourceCounter">{{player.resources.green.used}}/{{player.resources.green.available}}</span>
        </div>
        <div class="resource blueResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, player.playerGuid, player.resources.blue)">
                <div class="spinbutton" v-on:click="increaseUsedResource(player.playerGuid, player.resources.blue)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(player.playerGuid, player.resources.blue)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, player.playerGuid, player.resources.blue)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(player.playerGuid, player.resources.blue)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(player.playerGuid, player.resources.blue)"></div>
            </div>
            <span class="resourceCounter">{{player.resources.blue.used}}/{{player.resources.blue.available}}</span>
        </div>
        <div class="resource redResources">
            <div class="usedResources" v-on:wheel="usedResourceWheel($event, player.playerGuid, player.resources.red)">
                <div class="spinbutton" v-on:click="increaseUsedResource(player.playerGuid, player.resources.red)"></div>
                <div class="spinbutton" v-on:click="decreaseUsedResource(player.playerGuid, player.resources.red)"></div>
            </div>
            <div class="availableResources" v-on:wheel="availableResourceWheel($event, player.playerGuid, player.resources.red)">
                <div class="spinbutton" v-on:click="increaseAvailableResource(player.playerGuid, player.resources.red)"></div>
                <div class="spinbutton" v-on:click="decreaseAvailableResource(player.playerGuid, player.resources.red)"></div>
            </div>
            <span class="resourceCounter">{{player.resources.red.used}}/{{player.resources.red.available}}</span>
        </div>
    </div>

    <!-- EndRegion : Player -->
    <!-- Common actions during a turn -->
    <div id="turnStructure">
        <div class="turn unmark" v-on:click="unmarkAll(player)">
            <div class="tooltip-content">
                <p>Unmark all your cards and replenish your resources.</p>
            </div>
        </div>
        <div class="turn draw2" @click="moveCardFrom('drawCard', player.playerGuid, 'deck', player.playerGuid, 'hand', false, 2)">
            <div class="tooltip-content">
                <p>Draw two cards.</p>
            </div>
        </div>
        <div class="turn draw7" @click="moveCardFrom('drawCard', player.playerGuid, 'deck', player.playerGuid, 'hand', false, 7)">
            <div class="tooltip-content">
                <p>Draw seven cards.</p>
            </div>
        </div>
        <div class="turn coin" v-on:click="flipCoin()">
            <div class="tooltip-content">
                <p>Flip a coin.</p>
            </div>
        </div>
        <div class="turn dice" v-on:click="rollDice()">
            <div class="tooltip-content">
                <p>Throw a dice.</p>
            </div>
        </div>
        <div class="turn blinds" v-on:click="setCurtainState(opponent, !opponent.showCurtain)" v-bind:class="{ 'open_blinds': opponent.showCurtain }">
            <div class="tooltip-content">
                <p>Toggle your opponent's blinds.</p>
            </div>
        </div>
        <div class="turn rules" v-on:click="openRules()">
            <div class="tooltip-content">
                <p>Consult the rules.</p>
            </div>
        </div>
        <div class="turn video" v-on:click="openVideo()">
            <div class="tooltip-content">
                <p>Open the audio/video room.</p>
            </div>
        </div>

    </div>

    <!--
    Template for a player's cards in play. The card can be:
    - dragged, by dragging
    - marked/unmarked, by doubleclick
    - put face up/down, by rightclick (contextclick)
    - previewed when face up, on hover


    -->
    <template v-for="card in player.play">
        <div class="card draggable-card animatecardmove"
             id="player-play-{{card.cardId}}"
             v-bind:class="{ 'rotate': card.isMarked, 'rotate-reset' : !card.isMarked, 'flip-card-hover' : !card.isFaceDown }"
             v-on:dblclick="this.$parent.toggleMark(card)"
             v-on:contextmenu.prevent="this.$parent.toggleFaceDown(card)"
             v-on:mouseover="this.$parent.showPreview(card)"
             v-on:mouseout="this.$parent.hidePreview(card)"
             v-on:mousedown="this.$parent.pointOrPeekCard($event, card)"
             v-bind:style="{ top: card.top + 'px' , left: card.left + 'px' }"
             v-draggable="{ fromPlayerGuid: player.playerGuid, fromKind: 'play', item: card, isDraggable: card.isDraggable, top: card.top, left: card.left }">


            <div class="flip-card-inner" v-bind:class="{ 'pointed' : card.isPointed }">
                <div class="flip-card-front">
                    <img src="back.webp" />
                </div>
                <div class="flip-card-back">
                    <img v-bind:src="card.imageSrc" />
                </div>
            </div>

            <div class="cardcounters">
                <div class="counterA" v-on:wheel="counterWheel($event, card, 'counterA')">
                    <div class="counterspinbutton" v-on:click="increaseCounter(card, 'counterA')"></div>
                    <div class="counterspinbutton" v-on:click="decreaseCounter(card, 'counterA')"></div>
                    <span class="counter">{{card.counterA}}</span>
                </div>
                <div class="counterB" v-on:wheel="counterWheel($event, card, 'counterB')">
                    <div class="counterspinbutton" v-on:click="increaseCounter(card, 'counterB')"></div>
                    <div class="counterspinbutton" v-on:click="decreaseCounter(card, 'counterB')"></div>
                    <span class="counter">{{card.counterB}}</span>
                </div>
            </div>
            <div class="peek" v-bind:class="{'peeking': card.isPeeking }"></div>

        </div>
    </template>


    <!--
    Template for a opponent's cards in play. The card can be:
    - dragged, by dragging
    - marked/unmarked, by doubleclick
    - put face up/down, by rightclick (contextclick)
    - previewed when face up, on hover

    -->
    <template v-for="card in opponent.play">
        <div class="card draggable-card animatecardmove"
             id="opponent-play-{{card.cardId}}"
             v-bind:class="{ 'rotate': card.isMarked, 'rotate-reset' : !card.isMarked, 'flip-card-hover' : !card.isFaceDown }"
             v-on:dblclick="this.$parent.toggleMark(card)"
             v-on:contextmenu.prevent="this.$parent.toggleFaceDown(card)"
             v-on:mouseover="this.$parent.showPreview(card)"
             v-on:mouseout="this.$parent.hidePreview(card)"
             v-on:mousedown="this.$parent.pointOrPeekCard($event, card)"
             v-bind:style="{ top: card.top + 'px' , left: card.left + 'px' }"
             v-draggable="{ fromPlayerGuid: opponent.playerGuid, fromKind: 'play', item: card, isDraggable: card.isDraggable, top: card.top, left: card.left }">
            <div class="flip-card-inner" v-bind:class="{ 'pointed' : card.isPointed }">
                <div class="flip-card-front">
                    <img src="back.webp" />
                </div>
                <div class="flip-card-back">
                    <img v-bind:src="card.imageSrc" />
                </div>
            </div>

            <div class="cardcounters">
                <div class="counterA" v-on:wheel="counterWheel($event, card, 'counterA')">
                    <div class="counterspinbutton" v-on:click="increaseCounter(card, 'counterA')"></div>
                    <div class="counterspinbutton" v-on:click="decreaseCounter(card, 'counterA')"></div>
                    <span class="counter">{{card.counterA}}</span>
                </div>
                <div class="counterB" v-on:wheel="counterWheel($event, card, 'counterB')">
                    <div class="counterspinbutton" v-on:click="increaseCounter(card, 'counterB')"></div>
                    <div class="counterspinbutton" v-on:click="decreaseCounter(card, 'counterB')"></div>
                    <span class="counter">{{card.counterB}}</span>
                </div>
            </div>
            <div class="peek" v-bind:class="{'peeking': card.isPeeking }"></div>
        </div>
    </template>


</div>

    <!-- Region: BattleField -->
    <!-- Region: Content Overlay -->
    <!--
        Everything in the content overlay is not drawn in perspective, it contains:
        the avatar's,  the card preview, and the card list dialog
    -->
    <div id="opponent"><div class="playerName"><div class="playerName-text">{{opponent.name}}</div></div></div>
    <div id="player"><div class="playerName"><div class="playerName-text">{{player.name}}</div></div></div>



    <img id="preview" v-bind:src="previewImageSrc" v-show="preview" transition="preview" />

    

    <!-- the coin flip -->
    <div class="coin-flip-conainer" v-bind:class="{ 'coin-flip': coinflip }">
        <div v-bind:class="{ 'coin-tails': coinflip }">
            <div v-bind:class="{ 'coin-tails-img': heads, 'coin-heads-img': !heads }"></div>
        </div>
        <div v-bind:class="{ 'coin-heads': coinflip }">
            <div v-bind:class="{ 'coin-tails-img': !heads, 'coin-heads-img': heads }"></div>
        </div>
    </div>

    <div class="dice-container" v-bind:class="{ 'dice-rolling': diceRoll }">
        <div id="dice-inner-container"></div>
    </div>



    <!-- the card list dialog  -->
    <modal :show.sync="cardlist.show">
        <!-- Action bar of the card list dialog -->
        <div slot="header">
            <div class="cardlistaction up_action" @click="setCardListFaceDown(false)"></div>
            <div class="cardlistaction down_action" @click="setCardListFaceDown(true)"></div>
            <div class="cardlistaction shuffle_action" @click="shuffleCardList()"></div>
            <div class="cardlistaction draw_action" @click="cardlistDrawCard()"></div>
            <div class="cardlistaction graveyard_action" @click="cardlistDiscardCard()"></div>
            <div class="cardlistaction deck_action" @click="cardlistDeckCard()"></div>
            <div class="cardlistaction play_action" @click="cardlistPlayCard()"></div>
            <div class="cardsearch"><input id="cardsearch_input" type="text" v-model="searchValue" /></div>
        </div>
        <div slot="body" id="cardlist" class="cardlist">
            <template v-for="card in filteredCards">
                <!--cardlist.cards">-->



                <div class="listcard animatecardmove"
                     id="cardlist-{{card.cardId}}"
                     v-bind:class="{ 'selected': card.isSelected, 'flip-card-hover' : !card.isFaceDown }"
                     v-on:dblclick="this.$parent.toggleCardListFaceDown(card)"
                     v-on:contextmenu.prevent="this.$parent.toggleCardListFaceDown(card)"
                     v-on:mousedown="this.$parent.selectFromCardList(card, $event)"
                     v-on:click="this.$parent.multiSelectFromCardList(card, $event)"
                     v-on:mouseover="this.$parent.showPreview(card)"
                     v-on:mouseout="this.$parent.hidePreview(card)">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="back.webp" />
                        </div>
                        <div class="flip-card-back">
                            <img v-bind:src="card.imageSrc" />
                        </div>
                    </div>


                </div>

            </template>
        </div>
    </modal>
    <div class="selection-rect"></div>
</div>


<div class="curtain__panel curtain__panel--right" v-bind:class="{ 'curtain__closed': player.showCurtain }">
    <h1 class="curtain__text">{{{curtainRightText}}}</h1>
    <img src="logo_fade.png" width="600" class="logo_fade"></img>
</div> <!-- curtain__panel -->
    
</div> <!-- curtain__wrapper -->
</div> <!-- curtain -->


<!-- Template for the modal dialog -->
    <script type="x/template" id="modal-template">
        <div class="modal-mask" v-show="show" transition="modal">
            <div class="modal-wrapper" v-on:click.self="show = false">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Define the output console for debugging -->
    <script type="text/javascript">window.console = window.console || function (t) { };</script>

    <!-- Define the config settings -->
    <script type="text/javascript" src="config.js"></script>

    <!-- jquery is used for drag and drop support -->
    <script type="text/javascript" src="jquery/jquery-3.1.0.min.js"></script>
    <!-- Custom changes were made to jquery ui to allow a droppable in perspective (css transform matrix3d) -->
    <script type="text/javascript" src="jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="jquery-unevent/jquery.unevent.js"></script>
    <script type="text/javascript" src="jquery-querystring/jquery-querystring.js"></script>
    <!-- jquery support for touch events -->
    <!-- N.G. Remark: Currently we have no support for touch devices -->
        <script type="text/javascript" src="jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <!-- -->
    <script src="signalr/signalr.js"></script>
    


    <!--
        Numeric provides matrix operations

        Ttransorm3d calculates the various css transorm matrix3d matrices.
        The battlefield is in a fixed coordinate system (0,0 => 1920, 1200),
        it is transormed to	(distance,0 => screenwidth-distance, height), with distance 20% of the original sceern width.

     -->
    <script type="text/javascript" src="numeric/numeric.min.js"></script>
    <script type="text/javascript" src="transform3d/transform3d.js"></script>
    <!-- the vue framework -->
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-resource/vue-resource.min.js"></script>
    <script type="text/javascript" src="vue-modal/vue-modal.js"></script>


    <!-- Game specific scripts -->
    <!-- Perspectivelayout applies the perspective layout to the game.
        - it applies matrix3d transform to the battlefield
        - it positions the the victory point sliders
        - it sets up the adapted jquery-perspective drag support
        - it defines a vue-directive to apply a the jquery-ui draggable to dom-elements
    -->
    <script type="text/javascript" src="perspectivelayout.js"></script>

    <!-- Roll a die -->
    <script type="text/javascript" src="rolladie/roll-a-die.js"></script>

    <!-- The work in progress game code -->
    <script type="text/javascript" src="game.js"></script>

</body>
</html>
