/* defaults */

* {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
  scrollbar-width: thin;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 209, 70, 0.6);
    border: 0px none rgba(255, 209, 70, 0.6);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 209, 70, 0.6);
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none rgba(255, 209, 70, 0.6);
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* main */

html {
	margin: 0 !important;
  padding: 0 !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;
	-ms-content-zooming: none;	
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: var(--ground);
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  touch-action: none;
  -ms-content-zooming: none;
}

/* variables */

:root {
  --totalHandCards: 1;
  --scale: 3.0;
  --highlight: rgba(255, 209, 70, 0.6);
  --ground: rgb(0, 0, 0);
  --primary: rgb(255,255,255);
  --secondary: rgb(204, 204, 204);
  --overlay: rgba(255,255,255,0.5);
  --chrome: rgba(255, 209, 70, 0.7);
  --drop: rgba(255, 209, 70, 0.6);
  --pointed: rgb(241, 104, 25);
  --gropa: rgba(0, 0,0,0.7);
  --tutorial: rgba(255,0,0,1);
  --tutorialsoft: rgba(0,200,0,1);
  --handoffset: 20;
}

/* tooltips */

.tooltip-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: var(--ground);
  left: calc(var(--scale) * -300px);
  top: calc(var(--scale) * 0px);
  padding: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 15px);
  width: calc(var(--scale) * 250px);
  transition: .25s all ease;
  transition-delay: .25s;
  z-index: 999999;
  color: var(--primary);
  transform: scale(3);
  transform-origin: 100% 50%;
}

/* tutorial tour */
.tooltip-tutorial {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: var(--tutorial);
  left: calc(var(--scale) * -300px);
  top: calc(var(--scale) * 0px);
  padding: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 15px);
  width: calc(var(--scale) * 250px);
  transition: .25s all ease;
  transition-delay: .25s;
  z-index: 999999;
  color: var(--ground);
  transform: scale(3);
  transform-origin: 100% 50%;
}

.tutorial-blink {
  border-width: calc(var(--scale) * 5px);
  border-color: var(--tutorial);
  border-style: solid;
  animation: blink 2s;
  animation-iteration-count: infinite;
}

.tutorial-blink .tooltip-tutorial {
  visibility: visible;
  opacity: 1;
  transition: .25s all ease;
  transition-delay: 5s;
  top: calc(var(--scale) * 60px);
}

.tutorial-blink-soft {
  border-color: var(--tutorialsoft);
}

@keyframes blink { 50% { border-color: transparent; }  }


.tutorial-city-selection {
  width: calc(var(--scale) * (106px * 3 + 10px * 3));;
  height: calc(var(--scale) * (150px + 10px * 1));
  position: absolute;
  left: calc(var(--scale) * (136px - 10px));
  top: calc(var(--scale) * (772px - 10px));
}

.startup_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startup_mic_settings{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 2vh;
}

.startup_mic_info {
  justify-self: stretch;
  width: 60%;
  font-size: 2vh;
}

.startup_mic_icon {
  height: 5vh;
  width: 5vh;
  margin: 1vh;
  background-size: 100%;
  background-color: var(--ground);
  background-repeat: no-repeat;
  background-position: center center;
}

.startup_mic_icon:hover {
  box-shadow: 0px 0px calc(var(--scale) * 5px) calc(var(--scale) * 5px) var(--highlight);
  background-color: var(--highlight);
  cursor: pointer;
}

.select_cities_options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.select_city:hover {
  transform: scale(1.5);
  box-shadow: 0px 0px 6px 6px var(--drop);
  cursor: pointer;
}

.select_city {
  width: 20%;
  margin-top: 10%;
  transition: all .2s ease-in-out;
}

.selected_city {
  box-shadow: 0px 0px 6px 6px var(--drop);
}

.select_city > img {
  width: 100%;
}

.startup_go {
  font-size: 2vh;
  margin-top: 2vh;
}

.startup_select_city_info {
  color: var(--ground);
  background: var(--chrome);
  padding: 1vh;
  border-radius: 5%;
  text-align: center;
}

.startup_ready{
  color: var(--ground);
  background: var(--chrome);
  padding: 1vh;
  border-radius: 5%;
  text-align: center;
}

.startup_ready:hover{
  background: var(--highlight);
  box-shadow: 0px 0px 6px 6px var(--drop);
  cursor: pointer;
}

/* curtain overlay */

.curtain {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.curtain__wrapper {
  width: 100%;
  height: 100%;
}
.curtain_opener {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* opacity: 0; */
  top: 0;
  left: 0;
}

.curtain__panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #b8cd3f;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 2;
}
.curtain__panel--left {
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url("curtain.webp");
}
.curtain__panel--right {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-image: url("curtain.webp");
}

.curtain__closed {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.curtain__opener_hide {
  display: none;
}

.curtain__text {
  text-shadow: 3px 2px rgba(0, 0, 0, 1);
  color: #e6daa6;
  font-size: 3.5vw;
}

.curtain_intro_sound {
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.curtain_artwork {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.cutrain_sound_play{
 
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  display: inline-block;
  background-image: url("sound.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.curtain_sound_pause {
  background-image: url("nosound.webp");
}

.curtain_lic {
  color: var(--chrome);
  font-size: 0.9em;
  font-style: italic;
}

.curtain_attribution, .curtain_license {
  font-style: italic;
}

.logo_fade {
  position: absolute;
  right: 20px;
  bottom: 15px;
  display: block;
  max-width:80%;
  max-height:40%;
  width: auto;
  height: auto;
}

/* main screen */

#content {
	overflow: hidden;
	position: absolute;
	backface-visibility: hidden;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px; 
}

#chatcontainer {
  width:  15vw;
  height: 35vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatcontainer_flat {
  justify-content: flex-end !important;
  top: 15vw !important;
  height: calc(100vh - 15vw) !important; 
}

#jitsi {
  width: 10vw;
  height: 10vw;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50% 50% 50% 50%;
}

.jitsi_flat{
  right: unset !important;
  left: 0 !important;
  border-radius: 0px !important;
  width: 15vw !important;
  height: 15vw !important;
}

#chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 2px;
}

.chat_flat {
  flex-direction: column !important;
  align-items: flex-end !important;  
}

#chat_messages_wrapper{
  overflow-y: auto;
  direction: rtl;
  width: 100%;
}

#chat_messages{
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  direction: ltr;
}

.chat_messages_flat {
  flex-direction: column !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
}

.chat_message {
  text-align: right;
  color: var(--highlight);
  padding: 2px;
  
}
.chat_message_opponent {
  text-align: left;
  color: #e2cc6d;
}

#chat_input_box{
  display: flex;
  flex-direction: row-reverse;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  border-color: var(--chrome); 
  border-style: solid;
  width: 100%;
}

#chat_input{
  border-width: 0px;
  padding: 5px;
  font-size: 20px;
  background-color: var(--ground);
  color: var(--highlight);
  width: 100%;
}

#chat_input:hover, #chat_input:focus-visible, #chat_input:focus{
  outline: none;
  border-width: 0px;
  padding: 5px;
  font-size: 20px;
  background-color: var(--ground);
  color: var(--highlight);
  width: 100%;
}

#chat_input_button{
  width: 30px;
  height: 30px;
  margin: 6px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
	background-size: 30px 30px;
  background-image: url('turn_play.webp');
}

#chat_input_button:hover {
  box-shadow: 0px 0px 5px 5px var(--highlight);
  background-color: var(--highlight);
}

/* card preview (top right) */

#preview {
	position: absolute;
	top: 0px;
	right:0px;
	width: 15%;
	z-index: 9999;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.preview-enter {
    animation: fadein 0.5s;
}

.preview-leave {
    animation: fadeout 0.5s;
}

.hide {
  display: none !important;
}

/* settings menu */

.backgroundOption {
  width: 30%;
  border-radius: 5% 5% 5% 5%;
  border-color: var(--secondary);
  border-width: thick;
  border-style: solid;
  position: relative;
  margin: 0.5%;
}

#menu .backgroundOption:hover{
  border-color: var(--primary);
}

/* sound settings */
.sound_volume_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 30%;
  height: calc(var(--scale) * 30px);
}

.sound_volume {
  height: 100%;
  width: 10%;
  border-radius: 5% 0% 0% 0%;
  background-color: var(--secondary);
}

.sound_volume:hover {
  cursor: pointer;
}

.active_volume {
  background-color: var(--chrome);
}

.audio_settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* avatars */
/* #opponent {
  left: -1.5%;
  top: -1.5%;
  position: absolute;
  border-radius: 0% 50% 50% 50%;
  border-color: red;
  border-width: thick;
  border-style: solid;
  width: 10%;
  padding-top: 10%;
  background: url('placeholder.webp');
  background-size: 100%;
  overflow: hidden;
} */

#jitsioverlay {
  width: 15vw;
  height: 15vw;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

#opponent {
  width: 10vw;
  height: 10vw;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50% 50% 50% 50%;
  background: url('placeholder.webp');
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

.opponent_flat{
  right: unset !important;
  left: 1vw !important;
 /* border-radius: 0px !important; */
  width: 13vw !important;
  height: 13vw !important;
}

#player {
  position: fixed;
  bottom: -1.5%;
  right: -1.5%;
  border-radius: 50% 50% 0% 50%;
  border-color: red;
  border-width: thick;
  border-style: solid;
  width: 10%;
  padding-top: 10%;
  background: url('placeholder.webp');
  background-size: 100%;
  overflow: hidden;
}


.playerName {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  padding: 1%;
  background: rgba(0,0,0,0.6);
}

.playerName-text {
  font-family: verdana;
  font-size: 60%;
  text-align: center;
  color: var(--primary);
}

.overlay {
    position:relative;
}
.selection-rect {
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
    opacity: 0;
    pointer-events: none;
}

/* card list dialog */

.cardlistaction {
  width: 30px;
  height: 30px;
  margin: 6px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
	background-size: 30px 30px;
}

.cardsearch {
  height: 30px;
  float: right;
  margin-right: 100px;
  margin-top: 3px;
}

.cardlistaction:hover {
  box-shadow: 0px 0px 5px 5px var(--highlight);
  background-color: var(--highlight);
}

.listcard {
	margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 106px; 
	height: 150px; 
}

.listcard img{
  width: 106px; 
  height: 150px; 
}

.listcard .flip-card-inner:hover {
  box-shadow: 0px 0px  13px 13px var(--highlight);
}

#cardsearch_input {
  border-width: 2px;
  border-color: var(--secondary); 
  border-style: solid;
  padding: 5px;
  font-size: 20px;
  background-color: var(--ground);
  color: var(--primary);
}

/* game info contents */
.dialog_header {
  color: var(--chrome);
  font-size: xx-large;
  margin: 10px;
}

.dialog_body {
  color: var(--chrome);
}

.infotitle{
  font-size: xx-large;
  margin: 10px;
}

.infokey {
  margin-left: 13px;
  margin-right: 5px;
}

.infokey::after {
  content: " => ";
}

.infodescription{
  margin: 5px;
}

/* the battlefield (everything inside the perspective */

#battleField {  
	width: calc(var(--scale) * 1920px);  
	height: calc(var(--scale) * 1200px);  
	position: absolute;
  background-image: url("field1.webp");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  background-color: var(--ground);
}

#battleFieldDrop {
  width: 100%;
  height: 100%;
  background-image: url("chrome3.webp");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
}

/* turn structure menu */

#turnStructure {
    position: absolute;
    top: calc(var(--scale) * 575px);
    width: calc(var(--scale) * 50px);
    height: calc(var(--scale) * 180px);
    right: calc(var(--scale) * -55px);
    background-color: var(--ground);
}

.turnStructure_flat {
  top: calc(var(--scale) * 520px) !important;
}

#turnStructure .tooltip-content {
  transform: scale(2.3);
}

.turn{
    width: calc(var(--scale) * 50px);
    height: calc(var(--scale) * 50px);
    margin: calc(var(--scale) * 6px) 0px 0px 0px;
    background-size: calc(var(--scale) * 50px) calc(var(--scale) * 50px);
    background-color: var(--ground);
    background-repeat: no-repeat;
    background-position: center center;
}

.turn:hover {
    box-shadow: 0px 0px calc(var(--scale) * 5px) calc(var(--scale) * 5px) var(--highlight);
    background-color: var(--highlight);
    cursor: pointer;
}

.turn:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
  transition: .25s all ease;
  transition-delay: 1.5s;
  top: calc(var(--scale) * 60px);
}

.unmark{
 	background-image: url("turn_unmark.webp");
}

.rolldice{
  background-image: url("turn_dice_less.webp");
  margin-left: calc(var(--scale) * 56px);
  margin-top: calc(var(--scale) * -50px);
}

.coin {
    background-image: url("turn_coin.webp");
}

.draw2 {
    background-image: url("turn_draw2.webp");
}

.draw7 {
    background-image: url("turn_draw7.webp");
    margin-left: calc(var(--scale) * 56px);
    margin-top: calc(var(--scale) * -50px);
}

.blinds {
    background-image: url("turn_blinds.webp");
}

.open_blinds {
    background-image: url("turn_open_blinds.webp");
}

.no_sound {
  background-image: url("nosound.webp");
}

.sound {
  background-image: url("sound.webp");
}

.mic {
    background-image: url("turn_headset.webp");
}

.turn_disable_mic {
  background-image: url("turn_no_headset.webp");
}

.settings{
  background-image: url("turn_settings.webp");
}

.camera {
  background-image: url("turn_video.webp");
  margin-left: calc(var(--scale) * 56px);
  margin-top: calc(var(--scale) * -50px);
}

.turn_disable_camera {
  background-image: url("turn_no_video.webp");
}

.rules {
    background-image: url("turn_rules.webp");
    margin-left: calc(var(--scale) * 56px);
    margin-top: calc(var(--scale) * -50px);
}

.hints {
  background-image: url("turn_hint_less.webp");
}

.turn_flat {
  background-image: url("turn_flat.webp");
  margin-left: calc(var(--scale) * 56px);
  margin-top: calc(var(--scale) * -50px);
}

.turn_perspective {
  background-image: url("turn_perspective.webp");
  margin-left: calc(var(--scale) * 56px);
  margin-top: calc(var(--scale) * -50px);
}

.turn_flat_override{
  margin: calc(var(--scale) * 6px) 0px 0px 0px !important;
}

/* turn actions animations: coin flip */

.coin-flip-conainer {
  visibility: collapse;
}

.coin-flip {
  visibility: visible;
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  transform-style: preserve-3d;
  position: absolute;
  animation: fly 0.632s ease-in-out 0s 2 alternate forwards;
}

.coin-heads {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: flip-head 0.316s linear 0s 4 alternate forwards;
}
.coin-tails {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: flip-tail 0.316s linear 0s 4 alternate forwards;
}

@keyframes fly {
  0% { top: 80%; }
  100% { top: 10%; }
}

@keyframes flip-head {
  0%, 100% { transform: rotateX(0deg); }
  50% { transform: rotateX(180deg); }
}

@keyframes flip-tail {
  0%, 100% { transform: rotateX(180deg); }
  50% { transform: rotateX(0deg); }
}

.coin-heads-img {
  width: 100px;
  height: 100px;
  margin: 6px 0px 0px 0px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("coin_heads.svg");
}

.coin-tails-img {
  width: 100px;
  height: 100px;
  margin: 6px 0px 0px 0px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("coin_tails.svg");
}

/* turn actions animations: dice role */
.dice-container {
  width: 300px;
  height: 300px;
  top: 30%;
  left: 50%;
  position: fixed;
  visibility: collapse;
  transform: scale(1.3);
}

.dice-rolling {
  visibility: visible;
}


/* battlefield pile actions*/

.action{
	width: calc(var(--scale) * 30px);
	height: calc(var(--scale) * 30px);
	margin: calc(var(--scale) * 6px) 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
	background-size: calc(var(--scale) * 27px) calc(var(--scale) * 27px);
}

.action:hover {
	box-shadow: 0px 0px calc(var(--scale) * 5px) calc(var(--scale) * 5px) var(--highlight);
  background-color: var(--highlight);
  cursor: pointer;
}

.action:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
  transition: .25s all ease;
  transition-delay: 1.5s;
  top: calc(var(--scale) * 60px);
}

.up_action{
	background-image: url("action_up.webp");
}

.down_action{
	background-image: url("action_down.webp");
}

.draw_action{
	background-image: url("action_draw.webp");
}

.graveyard_action{
	background-image: url("action_graveyard.webp");
}

.deck_action{
	background-image: url("action_deck.webp");
}

.play_action{
	background-image: url("action_play.webp");
}

.view_action{
	background-image: url("action_view.webp");
}

.shuffle_action{
	background-image: url("action_shuffle.webp");
}

.count_action{
	font-family: verdana;
  font-size:calc(var(--scale) * 130%);
  text-align: center;
	color: var(--primary);
	left: calc(var(--scale) * 36px);
	top: calc(var(--scale) * -36px);
	position: relative;
	cursor: default;
  color: var(--chrome);
}

.count_action:hover {
	box-shadow: unset;
  background-color: unset;
}

/* player deck and deck actions location */

#playerDeck{
	width: calc(var(--scale) * 106px);
	height: calc(var(--scale) * 150px);
 	position: absolute;
	top: calc(var(--scale) * 640px);
	right: calc(var(--scale) * 40px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("deck2.webp");
  border-radius: 0px calc(var(--scale) * 5px) 0px calc(var(--scale) * 5px);
}

#playerDeckActions{
	height: calc(var(--scale) * 180px);
 	position: absolute;
	top: calc(var(--scale) * 640px);
	right: calc(var(--scale) * 146px);
  border-radius: calc(var(--scale) * 5px);
}

#playerDeckActions .tooltip-content {
  transform: scale(2.4);
}

#playerDeckActionsBackground{
  width: calc(var(--scale) * 136px);
	height: calc(var(--scale) * 180px);
  background: var(--gropa);
  top: calc(var(--scale) * 640px);
	border-radius: calc(var(--scale) * 5px);
  right: calc(var(--scale) * 40px);
  position: absolute;
}

/* player graveyard and graveyard actions location */

#playerGraveyard{
	width : calc(var(--scale) * 106px);
	height: calc(var(--scale) * 150px);
  position: absolute;
	top: calc(var(--scale) * 850px);
	right: calc(var(--scale) * 40px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("graveyard.webp");
  border-radius: 0px calc(var(--scale) * 5px) 0px calc(var(--scale) * 5px);
}

#playerGraveyardActions{
	height: calc(var(--scale) * 180px);
 	position: absolute;
	top: calc(var(--scale) * 850px);
	right: calc(var(--scale) * 146px);
  border-radius: calc(var(--scale) * 5px);
}

#playerGraveyardActions .tooltip-content {
  transform: scale(2.1);
}

#playerGraveyardActionsBackground{
  width : calc(var(--scale) * 136px);
	height: calc(var(--scale) * 180px);
  background: var(--gropa);
  border-radius: calc(var(--scale) * 5px);
  top: calc(var(--scale) * 850px);
	right: calc(var(--scale) * 40px);
  position: absolute;
}

/* opponent deck and deck actions location */

#opponentDeck{
	width: calc(var(--scale) * 106px);
	height: calc(var(--scale) * 150px);
 	position: absolute;
	top: calc(var(--scale) * 380px);
	right: calc(var(--scale) * 40px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("deck2.webp");
  border-radius: 0px calc(var(--scale) * 5px) 0px calc(var(--scale) * 5px);
}

#opponentDeckActions{
	height: calc(var(--scale) * 180px);
	position: absolute;
	top: calc(var(--scale) * 380px);
	right: calc(var(--scale) * 146px);
  border-radius: calc(var(--scale) * 5px);
}

#opponentDeckActions .tooltip-content {
  transform: scale(2.7);
}

#opponentDeckActionsBackground{
	width: calc(var(--scale) * 136px);
	height: calc(var(--scale) * 180px);
  background: var(--gropa);
  border-radius: calc(var(--scale) * 5px);
  top: calc(var(--scale) * 380px);
	right: calc(var(--scale) * 40px);
  position: absolute;
}

/* opponent graveyard and graveyard actions location */

#opponentGraveyard{
	width : calc(var(--scale) * 106px);
	height: calc(var(--scale) * 150px);
 	position: absolute;
	top: calc(var(--scale) * 170px);
	right: calc(var(--scale) * 40px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("graveyard.webp");
  border-radius: 0px calc(var(--scale) * 5px) 0px calc(var(--scale) * 5px);
}

#opponentGraveyardActions{
	height: calc(var(--scale) * 180px);
 	position: absolute;
	top: calc(var(--scale) * 170px);
	right: calc(var(--scale) * 146px);
  border-radius: calc(var(--scale) * 5px);
}

#opponentGraveyardActions .tooltip-content {
  transform: scale(3);
}

#opponentGraveyardActionsBackground{
  width: calc(var(--scale) * 136px);
	height: calc(var(--scale) * 180px);
  background: var(--gropa);
  border-radius: calc(var(--scale) * 5px);
  top: calc(var(--scale) * 170px);
  right: calc(var(--scale) * 40px);
  position: absolute;
}

/* opponent hand location and opponent hand actions*/

#opponentHand{
  position: fixed;
  background-color:var(--ground);
  border-radius: 0px 0px calc(var(--scale) * 25px) calc(var(--scale) * 25px);
  top: calc(var(--scale) * 0px);
  left: calc(var(--scale) * 800px);
  width: calc(var(--scale) * 320px);
  height: calc(var(--scale) * 50px);
}

#opponentHand .tooltip-content {
  left: calc(var(--scale) * 0px);
  top: calc(var(--scale) * 60px);
  padding: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 15px);
  width: calc(var(--scale) * 250px);
  transition: .25s all ease;
  transition-delay: .25s;
  z-index: 2000;
  color: var(--primary);
  transform: scale(3.3);
  transform-origin: 50% 0%;
}

#opponentHand .action {
  width: calc(var(--scale) * 30px);
  height: calc(var(--scale) * 30px);
  margin: calc(var(--scale) * 6px);
  display: inline-block;
}

#opponentHand .action:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
  transition: .25s all ease;
  transition-delay: 1.5s;
  top: calc(var(--scale) * 150px);
}

#opponentHand .count_action{
  font-size: calc(var(--scale) * 150%);
  left: calc(var(--scale) * 0px);
  top: calc(var(--scale) * -12px);
  position: relative;
}

/* resources */

.resource {
	width: calc(var(--scale) * 100px);
	height: calc(var(--scale) * 50px);
	margin: calc(var(--scale) * 5px) calc(var(--scale) * 0px);
	position: relative;
	font-family: verdana;
  font-size: calc(var(--scale) *200%);
  text-align: center;
	color: var(--primary);
  opacity: 0.9;
}

.resource:hover {
	box-shadow: 0px 0px calc(var(--scale) * 5px) calc(var(--scale) * 5px) var(--highlight);
}

.usedResources {
	position: absolute;
	top: calc(var(--scale) * 0px);
	left: calc(var(--scale) * 0px);
  width: calc(var(--scale) * 50px);
  height: calc(var(--scale) * 50px);
}

.availableResources {
	position: absolute;
  top: calc(var(--scale) * 0px);
	left: calc(var(--scale) * 50px);
  width: calc(var(--scale) * 50px);
  height: calc(var(--scale) * 50px);
}

.resourceCounter{
	width: calc(var(--scale) * 100px);
	height: calc(var(--scale) * 50px);
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	pointer-events:none;
}

.spinbutton {
	position: relative;
	width: calc(var(--scale) * 50px);
	height: calc(var(--scale) * 25px);
	pointer-events:auto;
}

.blackResources {
	/* background: rgba(0,0,0,1);*/
}

.yellowResources {
 /* background: rgba(255,255,0,1); */
	color : rgb(0, 0, 0);
}

.greenResources {
	/* background-color:rgba(112,173,71,1); */
}

.blueResources {
	/* background-color:rgba(0,176,240,1); */
}

.redResources{
	/* background-color:rgba(192,0,0,1); */
}

#playerResources{
	position: absolute;
	top: calc(var(--scale) * 640px);
	width: calc(var(--scale) * 100px);
	height: calc(var(--scale) * 280px);
	border-radius: 0px calc(var(--scale) * 25px) calc(var(--scale) * 25px) 0px;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("resources.webp");
}

#opponentResources{
	position: absolute;
	top:calc(var(--scale) * 280px);
	width: calc(var(--scale) * 100px);
	height: calc(var(--scale) * 280px);
	background-color: var(--overlay);
	border-radius: 0px calc(var(--scale) * 25px) calc(var(--scale) * 25px) 0px;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("resources.webp");
}

/* cards */

.card {
	width : calc(var(--scale) * 106px) !important;
	height: calc(var(--scale) * 150px) !important;
	position: fixed;
	top: 0px;
	left: 0px;
	display: inline-block;
}

.card img{
    width: calc(var(--scale) * 106px) !important;
    height: calc(var(--scale) * 150px) !important;
    pointer-events: none;
}

.cardcounters {
    position: absolute;
    top: 0px;
    perspective: 1000px;
    width: calc(var(--scale) * 15px);
}

.counter {
    pointer-events: none;
    position: absolute;
    text-shadow: calc(var(--scale) * 2px) calc(var(--scale) * 2px) var(--ground);
    top: 0;
}

.counterspinbutton {
  position: relative;
  width: calc(var(--scale) * 15px);
  height: calc(var(--scale) * 15px);
  pointer-events: auto;
}

.counterA {
    top: calc(var(--scale) * 30px);
}

.counterB {
    top: calc(var(--scale) * 60px);
}

.counterA, .counterB {
    cursor: pointer;
    font-size: calc(var(--scale) * 150%);
    pointer-events: auto;
    background: transparent;
    position: absolute;
    color: var(--chrome);
}

.counterA:hover, .counterB:hover {
   box-shadow: calc(var(--scale) * -4px) 0px 0px 0px var(--highlight);
}

#battleField > .card {
  animation: glow 1s alternate;
  position: fixed;
}

#playerDeck .card {
  animation: glow 1s alternate;
	position: absolute;
}

#playerDeck .card:hover{
	box-shadow: none;
}

#opponentDeck .card {
  animation: glow 1s alternate;
	position: absolute;
}

#opponentDeck .card:hover{
	box-shadow: none;
}

#opponentGraveyard .card{
  animation: glow 1s alternate;
	position: absolute;
}

#opponentGraveyard .card:hover{
	box-shadow: none;
}

#playerGraveyard .card{
  animation: glow 1s alternate;
	position: absolute;
}

#playerGraveyard .card:hover{
	box-shadow: none;
}

.droptarget {
	box-shadow: 0px 0px calc(var(--scale) * 7px) calc(var(--scale) * 7px) var(--drop);
}

.selected {
	box-shadow: 0px 0px 6px 6px var(--drop);
}

.pointed {
    animation: glowPointed 2.5s alternate !important;
}



@keyframes glow {
    from {
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }

    to {
        box-shadow: 0px 0px 13px 13px var(--highlight);
    }
}

@keyframes glowPointed {
    from {
      box-shadow: 0px 0px 13px 13px var(--pointed);
    }
    to {
        
        box-shadow: 0px 0px 0px 0px var(--pointed);
    }
}

.rotate-reset {
    transform: rotateZ(0deg);
}

.rotate {
    transform: rotateZ(90deg);
}


.animatecardmove {
    transition-property: top, left, transform;
    transition-duration: 0.5s, 0.5s, 0.2s;
    transition-timing-function: ease-out, ease-out, ease-in-out;
}

.ui-draggable-dragging, .ui-sortable-helper {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#playerHand .ui-sortable-helper {
    position: fixed !important;
}

/* card flip */

.card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 calc(var(--scale) * 4px) calc(var(--scale) * 8px) 0 rgba(0,0,0,0.2);
}

.flip-card-hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*

.flip-card-inner:hover {
  box-shadow: 0px 0px calc(var(--scale) * 13px) calc(var(--scale) * 13px) var(--highlight);
}

*/

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(0deg); 
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-resources {
    perspective: 1000px;
    position: absolute;
    top: 0px;
    left: calc(var(--scale) * -5px);
    /* opacity: 0; */
    display: none;
}

.flip-card-resource {
  width: calc(var(--scale) * 10px);
  height: calc(var(--scale) * 10px);
  border-radius: calc(var(--scale) * 10px);
  border-color: var(--chrome);
  border-width: calc(var(--scale) * 1px);
  border-style: groove;
}

.flip-card-resource:hover {
    width: calc(var(--scale) * 20px);
    transition: width 0.15s;
}


.flip-card-resource-black{
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("black_r.webp");
}

.flip-card-resource-yellow {
    background-color: yellow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("yellow_r.webp");
}

.flip-card-resource-green {
    background-color: rgba(112,173,71,1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("green_r.webp");
}

.flip-card-resource-blue {
    background-color: rgba(0,176,240,1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("blue_r.webp");
}

.flip-card-resource-red {
    background-color: rgba(192,0,0,1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("red_r.webp");
}

.flip-card-resource .tooltip-content {
    visibility: collapse;
    opacity: 0;
    position: absolute;
    background: var(--ground);
    left: calc(var(--scale) * 0px);
    top: calc(var(--scale) * 0px);
    padding: calc(var(--scale) * 5px);
    font-size: calc(var(--scale) * 18px);
    transition: .25s all ease;
    transition-delay: .25s;
    z-index: 2000;
    color: var(--primary);
    transform: scale(1) translateY(-50%);
    transform-origin: 50% 50%;
    width: calc(var(--scale) * 50px);
    overflow: hidden;
}

.flip-card-resource:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    transition: .25s all ease;
    transition-delay: 1.5s;
    top: calc(var(--scale) * 0px);
    left: calc(var(--scale) * 0px);
    width: calc(var(--scale) * 310px);
}

.peek {
    visibility: collapse;
    position: absolute;
    top: calc(var(--scale) * 25px);
    left: calc(var(--scale) * 3px);
    opacity: 1;
    width: calc(var(--scale) * 100px);
    height: calc(var(--scale) * 100px);
    margin: 0px 0px 0px 0px;
    background-size: calc(var(--scale) * 50px) calc(var(--scale) * 50px);
    background-repeat: no-repeat;
    background-position: center center;
    transition: .25s all ease;
    transition-delay: 2s;
    background-image: url("turn_blinds.svg");
    z-index: 3000;
    pointer-events: none;
}

.peeking {
    visibility: visible;
    opacity: 1;
    transition: .25s all ease;
    transition-delay: 0s;
}




/* hand */

#playerHandDecoration {
	position: fixed;
	background-color:var(--ground);
	border-radius: calc(var(--scale) * 25px) calc(var(--scale) * 25px) 0px 0px;
	top: calc(var(--scale) * 1095px);
	left: calc(var(--scale) * 370px);
	width: calc(var(--scale) * 1180px);
	height: calc(var(--scale) * 105px);
  background-image: url("logo_fade.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 0.9;
}

#playerHand {
  bottom: calc(var(--scale) * 0px);
  display: flex;
  height: calc(var(--scale) * 100px);
  padding-top:calc(var(--scale) * 7px); 
  justify-content: center;
  position: fixed;
  left: calc(var(--scale) * 373px);
  width: calc(var(--scale) * 1174px);
  z-index: 9999;
  border-radius: calc(var(--scale) * 20px) calc(var(--scale) * 20px) 0px 0px;
 }
  
  #playerHand .card {
    height: calc(var(--scale) * 150px);
    position: relative;
    width: calc(var(--scale) * 106px);
  }
  


  #playerHand .flip-card-inner {
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: calc(var(--scale) * var(--handoffset) * -1px);
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
  }

  #playerHand .card, #playerHand .flip-card-hover {
    z-index: calc(var(--totalHandCards) - var(--ind)  + 9999) !important;
  }
  #playerHand .card .flip-card-inner {
    transform: translateY(calc(var(--scale) * var(--handoffset) * 1px))
  }
  #playerHand .card:hover .flip-card-inner {
    transform: translateY(0);
  }

  #playerHand .flip-card-hover .flip-card-inner {
    transform: translateY(calc(var(--scale) * var(--handoffset) * 1px)) rotateY(180deg);
  }
  
  #playerHand .flip-card-hover:hover .flip-card-inner {
    transform: translateY(0) rotateY(180deg) !important;
  }

  #playerHand .ui-draggable-dragging .flip-card-inner {
    transform: translateY(calc(var(--scale) * var(--handoffset) * 1px)) !important;
    transition-duration: 0ms;
  }

  #playerHand .ui-draggable-dragging.flip-card-hover .flip-card-inner {
    transform: translateY(calc(var(--scale) * var(--handoffset) * 1px)) rotateY(180deg) !important;
    transition-duration: 0ms;
  }

  #playerHand .card:hover{
    z-index:99999 !important;
  }

  .flip-card-resources {
    top: 0px;
    position: absolute;
    left: calc(var(--scale) * -7px);
  }

  #playerHand .card .after {
    bottom: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: calc( var(--ind)  + 9999 + 10 ) !important;
  }

  #playerHand .card:hover .after .flip-card-resources {
    /* opacity: 1; */
    display: unset;
  }

  #playerHand .ui-draggable-dragging .flip-card-resources{
    /* opacity: 0 !important; */
    display: none !important;
  }



  /* player hand card index variable injection */
  
  #playerHand .card:nth-child(1) {
    --ind: 1 ;
  }
  
  #playerHand .card:nth-child(2) {
    --ind: 2 ;
  }
  
  #playerHand .card:nth-child(3) {
    --ind: 3 ;
  }
  
  #playerHand .card:nth-child(4) {
    --ind: 4 ;
  }
  
  #playerHand .card:nth-child(5) {
    --ind: 5 ;
  }
  
  #playerHand .card:nth-child(6) {
    --ind: 6 ;
  }
  
  #playerHand .card:nth-child(7) {
    --ind: 7 ;
  }
  
  #playerHand .card:nth-child(8) {
    --ind: 8 ;
  }
  
  #playerHand .card:nth-child(9) {
    --ind: 9 ;
  }
  
  #playerHand .card:nth-child(10) {
    --ind: 10 ;
  }
  
  #playerHand .card:nth-child(11) {
    --ind: 11 ;
  }
  
  #playerHand .card:nth-child(12) {
    --ind: 12 ;
  }
  
  #playerHand .card:nth-child(13) {
    --ind: 13 ;
  }
  
  #playerHand .card:nth-child(14) {
    --ind: 14 ;
  }
  
  #playerHand .card:nth-child(15) {
    --ind: 15 ;
  }
  
  #playerHand .card:nth-child(16) {
    --ind: 16 ;
  }
  
  #playerHand .card:nth-child(17) {
    --ind: 17 ;
  }
  
  #playerHand .card:nth-child(18) {
    --ind: 18 ;
  }
  
  #playerHand .card:nth-child(19) {
    --ind: 19 ;
  }
  
  #playerHand .card:nth-child(20) {
    --ind: 20 ;
  }
  
  #playerHand .card:nth-child(21) {
    --ind: 21 ;
  }
  
  #playerHand .card:nth-child(22) {
    --ind: 22 ;
  }
  
  #playerHand .card:nth-child(23) {
    --ind: 23 ;
  }
  
  #playerHand .card:nth-child(24) {
    --ind: 24 ;
  }
  
  #playerHand .card:nth-child(25) {
    --ind: 25 ;
  }
  
  #playerHand .card:nth-child(26) {
    --ind: 26 ;
  }
  
  #playerHand .card:nth-child(27) {
    --ind: 27 ;
  }
  
  #playerHand .card:nth-child(28) {
    --ind: 28 ;
  }
  
  #playerHand .card:nth-child(29) {
    --ind: 29 ;
  }
  
  #playerHand .card:nth-child(30) {
    --ind: 30 ;
  }
  
  #playerHand .card:nth-child(31) {
    --ind: 31 ;
  }
  
  #playerHand .card:nth-child(32) {
    --ind: 32 ;
  }
  
  #playerHand .card:nth-child(33) {
    --ind: 33 ;
  }
  
  #playerHand .card:nth-child(34) {
    --ind: 34 ;
  }
  
  #playerHand .card:nth-child(35) {
    --ind: 35 ;
  }
  
  #playerHand .card:nth-child(36) {
    --ind: 36 ;
  }
  
  #playerHand .card:nth-child(37) {
    --ind: 37 ;
  }
  
  #playerHand .card:nth-child(38) {
    --ind: 38 ;
  }
  
  #playerHand .card:nth-child(39) {
    --ind: 39 ;
  }
  
  #playerHand .card:nth-child(40) {
    --ind: 40 ;
  }
  
  #playerHand .card:nth-child(41) {
    --ind: 41 ;
  }
  
  #playerHand .card:nth-child(42) {
    --ind: 42 ;
  }
  
  #playerHand .card:nth-child(43) {
    --ind: 43 ;
  }
  
  #playerHand .card:nth-child(44) {
    --ind: 44 ;
  }
  
  #playerHand .card:nth-child(45) {
    --ind: 45 ;
  }
  
  #playerHand .card:nth-child(46) {
    --ind: 46 ;
  }
  
  #playerHand .card:nth-child(47) {
    --ind: 47 ;
  }
  
  #playerHand .card:nth-child(48) {
    --ind: 48 ;
  }
  
  #playerHand .card:nth-child(49) {
    --ind: 49 ;
  }
  
  #playerHand .card:nth-child(50) {
    --ind: 50 ;
  }
  
  #playerHand .card:nth-child(51) {
    --ind: 51 ;
  }
  
  #playerHand .card:nth-child(52) {
    --ind: 52 ;
  }
  
  #playerHand .card:nth-child(53) {
    --ind: 53 ;
  }
  
  #playerHand .card:nth-child(54) {
    --ind: 54 ;
  }
  
  #playerHand .card:nth-child(55) {
    --ind: 55 ;
  }
  
  #playerHand .card:nth-child(56) {
    --ind: 56 ;
  }
  
  #playerHand .card:nth-child(57) {
    --ind: 57 ;
  }
  
  #playerHand .card:nth-child(58) {
    --ind: 58 ;
  }
  
  #playerHand .card:nth-child(59) {
    --ind: 59 ;
  }
  
  #playerHand .card:nth-child(60) {
    --ind: 60 ;
  }
  
  #playerHand .card:nth-child(61) {
    --ind: 61 ;
  }
  
  #playerHand .card:nth-child(62) {
    --ind: 62 ;
  }
  
  #playerHand .card:nth-child(63) {
    --ind: 63 ;
  }
  
  #playerHand .card:nth-child(64) {
    --ind: 64 ;
  }
  
  #playerHand .card:nth-child(65) {
    --ind: 65 ;
  }
  
  #playerHand .card:nth-child(66) {
    --ind: 66 ;
  }
  
  #playerHand .card:nth-child(67) {
    --ind: 67 ;
  }
  
  #playerHand .card:nth-child(68) {
    --ind: 68 ;
  }
  
  #playerHand .card:nth-child(69) {
    --ind: 69 ;
  }
  
  #playerHand .card:nth-child(70) {
    --ind: 70 ;
  }
  
  #playerHand .card:nth-child(71) {
    --ind: 71 ;
  }
  
  #playerHand .card:nth-child(72) {
    --ind: 72 ;
  }
  
  #playerHand .card:nth-child(73) {
    --ind: 73 ;
  }
  
  #playerHand .card:nth-child(74) {
    --ind: 74 ;
  }
  
  #playerHand .card:nth-child(75) {
    --ind: 75 ;
  }
  
  #playerHand .card:nth-child(76) {
    --ind: 76 ;
  }
  
  #playerHand .card:nth-child(77) {
    --ind: 77 ;
  }
  
  #playerHand .card:nth-child(78) {
    --ind: 78 ;
  }
  
  #playerHand .card:nth-child(79) {
    --ind: 79 ;
  }
  
  #playerHand .card:nth-child(80) {
    --ind: 80 ;
  }
  
  #playerHand .card:nth-child(81) {
    --ind: 81 ;
  }
  
  #playerHand .card:nth-child(82) {
    --ind: 82 ;
  }
  
  #playerHand .card:nth-child(83) {
    --ind: 83 ;
  }
  
  #playerHand .card:nth-child(84) {
    --ind: 84 ;
  }
  
  #playerHand .card:nth-child(85) {
    --ind: 85 ;
  }
  
  #playerHand .card:nth-child(86) {
    --ind: 86 ;
  }
  
  #playerHand .card:nth-child(87) {
    --ind: 87 ;
  }
  
  #playerHand .card:nth-child(88) {
    --ind: 88 ;
  }
  
  #playerHand .card:nth-child(89) {
    --ind: 89 ;
  }
  
  #playerHand .card:nth-child(90) {
    --ind: 90 ;
  }
  
  #playerHand .card:nth-child(91) {
    --ind: 91 ;
  }
  
  #playerHand .card:nth-child(92) {
    --ind: 92 ;
  }
  
  #playerHand .card:nth-child(93) {
    --ind: 93 ;
  }
  
  #playerHand .card:nth-child(94) {
    --ind: 94 ;
  }
  
  #playerHand .card:nth-child(95) {
    --ind: 95 ;
  }
  
  #playerHand .card:nth-child(96) {
    --ind: 96 ;
  }
  
  #playerHand .card:nth-child(97) {
    --ind: 97 ;
  }
  
  #playerHand .card:nth-child(98) {
    --ind: 98 ;
  }
  
  #playerHand .card:nth-child(99) {
    --ind: 99 ;
  }
  
  #playerHand .card:nth-child(100) {
    --ind: 100 ;
  }

