<div class="p-d-flex p-jc-stretch p-grid">
 
    <div class="p-col-5 p-d-flex p-flex-column">
        <div class="p-d-flex p-jc-end">
            <div>
                <div style="position: relative; left: 0; top: 0;">
                    <img [src]="apiUri + card.backgroundPng" *ngIf="card.backgroundPng" style="max-width: 100%; width: 300px; position: relative; top: 0; left: 0;"/>
                    <img src="{{apiUri + card.overlaySvg}}" *ngIf="card.overlaySvg" style="max-width: 100%; width: 300px;  position: absolute; top: 0; left: 0;" />
                </div>
            </div>
        </div>

        <div class="p-d-flex p-jc-end p-my-2" *ngIf="card.isGenerated">
            <a class="searchlink" href="{{apiUri + card.svg}}" target="_blank">Svg</a>
            <a class="searchlink" href="{{apiUri + card.png}}" target="_blank">Png</a>
            <a class="searchlink" href="{{apiUri + card.jpeg}}" target="_blank">Jpeg</a>
            <a class="searchlink" href="{{apiUri + card.pdf}}" target="_blank">Pdf (CMYK)</a>
        </div>
   
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="card_creator" class="p-col-4">{{"card.field.creator" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" inputId="card_creator" name="card_creator" [ngModel]="card?.creator?.name" [disabled]="true" pInputText/>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_created_on" class="p-col-4">{{"card.field.create-date" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" inputId="card_created_on" name="card_created_on" [ngModel]="card?.createTime | date:'yyyy-MM-dd HH:MM:ss'" [disabled]="true" pInputText/>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_last_modified_by" class="p-col-4">{{"card.field.last-modified-by" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" inputId="card_last_modified_by" name="card_last_modified_by" [ngModel]="card?.lastModifiedBy?.name" [disabled]="true" pInputText/>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_last_modified_on" class="p-col-4">{{"card.field.last-modified-on" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" inputId="card_last_modified_on" name="card_last_modified_on" [ngModel]="card?.lastModifiedTime | date:'yyyy-MM-dd HH:MM:ss'" [disabled]="true" pInputText/>
                </div>
            </div>
        </div>
    </div>


    <div class="p-col-7">
        <div class="p-fluid" >

            <div class="p-field p-grid">
                <label for="card_name" class="p-col-3">{{"card.field.name" | translate}}*</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_name" name="card_name" placeholder="{{'card.field.name' | translate}}" [(ngModel)]="card.name" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_name', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="requried-input-field offset-md-3">
                    <div *ngIf="name.errors.required">*{{"card.field.name.required" | translate}}</div>
                  </div>
            </div>
        
            <div class="p-field p-grid">
                <label for="card_language" class="p-col-3">{{"card.field.language" | translate}}</label>
                <div class="p-col-8">
                    <p-autoComplete [(ngModel)]="card.language" [suggestions]="languages" (completeMethod)="searchLanguages($event)"  placeholder="{{'global.select' | translate}}" [forceSelection]=true [dropdown]="true" field="name" dataKey="languageCode" [disabled]="loading || !cardOptions.isEditable"></p-autoComplete>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_language', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_status" class="p-col-3">{{"card.field.status" | translate}}</label>
                <div class="p-col-8">
                    <p-dropdown inputId="card_status" dataKey="guid" [options]="cardOptions?.statuses" [(ngModel)]="card.status" placeholder="{{'global.select' | translate}}" optionLabel="name" [disabled]="loading || !cardOptions.isEditable"></p-dropdown> 
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_status', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_serie" class="p-col-3">{{"card.field.serie" | translate}}</label>
                <div class="p-col-8">
                    <p-dropdown inputId="card_serie" dataKey="guid" [options]="cardOptions?.series" [(ngModel)]="card.serie"  placeholder="{{'global.select' | translate}}" optionLabel="name" [disabled]="loading || !cardOptions.isEditable"></p-dropdown> 
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_serie', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>        
            
            <div class="p-field p-grid">
                <label for="card_faction" class="p-col-3">{{"card.field.faction" | translate}}</label>
                <div class="p-col-8">
                    <p-dropdown inputId="card_faction" dataKey="guid" [options]="cardOptions?.factions" [(ngModel)]="card.faction" placeholder="{{'global.select' | translate}}" optionLabel="name" [disabled]="loading || !cardOptions.isEditable"></p-dropdown> 
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_faction', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>
        
            <div class="p-field p-grid">
                <label for="card_type" class="p-col-3">{{"card.field.type" | translate}}</label>
                <div class="p-col-8">
                    <p-dropdown inputId="card_type" dataKey="guid" [options]="cardOptions?.cardTypes" [(ngModel)]="card.type" placeholder="{{'global.select' | translate}}" optionLabel="name" [disabled]="loading || !cardOptions.isEditable"></p-dropdown> 
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_type', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>
            
            <div class="p-field p-grid">
                <label for="card_subtype" class="p-col-3">{{"card.field.subtype" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_subtype" name="card_subtype" placeholder="{{'card.field.subtype' | translate}}" [(ngModel)]="card.subType" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_subtype', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_cost" class="p-col-3">{{"card.field.cost" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_cost" name="card_cost" placeholder="{{'card.field.cost' | translate}}" [(ngModel)]="card.cost" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_cost', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_loyalty" class="p-col-3">{{"card.field.loyalty" | translate}}</label>
                <div class="p-col-8">
                    <p-dropdown inputId="card_loyalty" optionLabel="label" optionValue="value"  [options]="loyalties" [(ngModel)]="card.loyalty" placeholder="{{'global.select' | translate}}" [disabled]="loading || !cardOptions.isEditable"></p-dropdown> 
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_loyalty', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_attack" class="p-col-3">{{"card.field.attack" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_attack" name="card_attack" placeholder="{{'card.field.attack' | translate}}" [(ngModel)]="card.attack" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_attack', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_defense" class="p-col-3">{{"card.field.defense" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_defense" name="card_defense" placeholder="{{'card.field.defense' | translate}}" [(ngModel)]="card.defense" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_defense', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_ruletext" class="p-col-3">{{"card.field.rule-text" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_ruletext" name="card_ruletext" placeholder="{{'card.field.rule-text' | translate}}" [(ngModel)]="card.ruleText" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_ruletext', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_flavortext" class="p-col-3">{{"card.field.flavor-text" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_flavortext" name="card_flavortext" placeholder="{{'card.field.flavor-text' | translate}}" [(ngModel)]="card.flavorText" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_flavortext', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_infotext" class="p-col-3">{{"card.field.info-text" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_infotext" name="card_infotext" placeholder="{{'card.field.info-text' | translate}}" [(ngModel)]="card.info" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_infotext', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <hr/>
            
            <div class="p-field p-grid">
                <label for="card_firstname" class="p-col-3">{{"card.field.firstname" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_firstname" name="card_firstname" placeholder="{{'card.field.firstname' | translate}}" [(ngModel)]="card.firstName" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_firstname', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_lastname" class="p-col-3">{{"card.field.lastname" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_lastname" name="card_lastname" placeholder="{{'card.field.lastname' | translate}}" [(ngModel)]="card.lastName" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_lastname', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_markdowntext" class="p-col-3">{{"card.field.markdown-text" | translate}}</label>
                <div class="p-col-8">
                    <textarea  rows="4" class="form-control input-flex-flox" id="card_markdowntext" name="card_markdowntext" placeholder="{{'card.field.markdown-text.example' | translate}}" [(ngModel)]="card.markdownText" [disabled]="loading || !cardOptions.isEditable" ></textarea>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_markdowntext', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="card_artist" class="p-col-3">{{"card.field.artist" | translate}}</label>
                <div class="p-col-8">
                    <input type="text" required #name="ngModel" inputId="card_artist" name="card_artist" placeholder="{{'card.field.artist' | translate}}" [(ngModel)]="card.artist" [disabled]="loading || !cardOptions.isEditable" pInputText/>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon" (click)="selectCardInfo($event, 'card_artist', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>


            <div class="p-field p-grid">
                <label for="card_artwork" class="p-col-3"> <a class="searchlink" href="{{apiUri + card.artwork}}" target="_blank">{{'card.field.artwork' | translate}}</a></label>
                <div class="p-col-8">
                    <p-fileUpload *ngIf="!showUploadProgress && cardOptions?.isEditable"
                    #fileUpload
                    mode="basic" 
                    [showUploadButton]="true"
                    [auto]="false"
                    customUpload="true"
                    chooseLabel="{{'global.select-png' | translate}}"
                    (uploadHandler)="upload($event)"
                    accept=".png">
                  
                    </p-fileUpload>
                    <p-progressBar class="input-flex-flox" [value]="uploadProgressValue | number:'1.0-0'" *ngIf="showUploadProgress"></p-progressBar>
                </div>
                <div class="p-col-1 p-d-flex p-ai-center">
                    <a class="card-info-icon " (click)="selectCardInfo($event, 'card_artwork', infoOverlay)" ><i class="fas fa-info-circle"></i></a>
                </div>
            </div>
        </div>
        
        <button type="button" (click)="saveCard()" [disabled]="card?.name == null || card.name == '' || saving"  *ngIf="cardOptions?.isEditable" class="btn btn-primary offset-md-3">{{'global.save' | translate}}<p-progressSpinner *ngIf="saving"></p-progressSpinner></button>

    </div>

    <p-overlayPanel #infoOverlay>
        <div *ngIf="selectedCardInfo === 'card_name'">
           <p>{{"card.field.name.info" | translate}}</p>
        </div>

        <div *ngIf="selectedCardInfo === 'card_language'">
            <p>{{"card.field.language.info" | translate}}</p>
        </div>

        <div *ngIf="selectedCardInfo === 'card_status'">
            <p>{{"card.field.status.info" | translate}}</p>
        </div>

        <div *ngIf="selectedCardInfo === 'card_serie'">
            <p>{{"card.field.serie.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_faction'">
            <p>{{"card.field.faction.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_type'">
            <p>{{"card.field.type.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_subtype'">
            <p>{{"card.field.subtype.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_cost'">
            <p>{{"card.field.cost.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_loyalty'">
            <p>{{"card.field.loyalty.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_attack'">
            <p>{{"card.field.attack.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_defense'">
            <p>{{"card.field.defense.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_ruletext'">
            <p>{{"card.field.rule-text.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_flavortext'">
            <p>{{"card.field.flavor-text.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_infotext'">
            <p>{{"card.field.info-text.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_firstname'">
            <p>{{"card.field.firstname.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_lastname'">
            <p>{{"card.field.lastname.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_markdowntext'"  [innerHTML]="'card.field.markdown-text.info' | translate">
        </div>
        <div *ngIf="selectedCardInfo === 'card_artist'">
            <p>{{"card.field.artist.info" | translate}}</p>
        </div>
        <div *ngIf="selectedCardInfo === 'card_artwork'">
            <p>{{"card.field.artwork.info" | translate}}</p>
        </div>
    </p-overlayPanel>

</div>
