:host ::ng-deep { 
    .p-inputtext {
        font-size: 0.875rem;
        padding: 0.2rem 0.3rem;
    }
    .p-field > label {
        margin: 0px;
    }


    textarea {
        font-size: 0.875rem;
    }

    .p-dropdown {
        font-size: 0.875rem;
        padding: 0.2rem 0.3rem;
    }

}

.view-info {
    margin-left: 1.5rem;
}

.text-style {
    white-space: pre-wrap
}

.elegant-button {
    cursor: pointer;
    margin-left: 1em;
}

.draft {
    font-size: 0.875rem;
}