<div class="p-fluid">
    <div class="p-field">
        <label for="username">{{'login.username' | translate }}</label>
        <input id="username" type="text"  #login_username="ngModel" [(ngModel)]="username" [disabled]="loading" required pInputText> 
        <div *ngIf="login_username.invalid && (login_username.dirty || login_username.touched)" class="requried-input-field">
            <div *ngIf="login_username.errors.required">{{'login.username.required' | translate }}</div>
        </div>
    </div>
    <div class="p-field">
        <label for="password">{{'login.password' | translate }}</label>
        <input id="password" type="password"  #login_password="ngModel" [(ngModel)]="password" [disabled]="loading" (keyup.enter)="submitLogin()" required pInputText> 
        <div *ngIf="login_password.invalid && (login_password.dirty || login_password.touched)" class="requried-input-field">
            <div *ngIf="login_password.errors.required">{{'login.password.required' | translate }}</div>
        </div>
    </div>
    <div *ngIf="loginErrorMessage">{{loginErrorMessage}}</div>
    <div class="p-d-flex p-jc-end">
        <button type="button" (click)="submitLogin()" [disabled]="username == null || username == '' || password == null || password == '' " class="btn btn-primary float-right">{{'login.login' | translate }}</button>
      </div>
</div>

