<div class="d-flex flex-column">
 
  <div class="p-my-2 p-d-flex p-jc-end">
    <button *ngIf="isAuthenticated" type="button" (click)="createDeck()" class="btn btn-primary">{{ "decks.create-your-own" | translate }}</button>
    <h1 *ngIf="!isAuthenticated" >{{ "decks.login-to-create-your-own" | translate }}</h1>
  </div>

  <div class="p-my-2">
    <div class="input-group">
      <input type="text" class="form-control"  placeholder="{{'global.search' | translate}}" aria-label="Search" aria-describedby="button-addon2"  [(ngModel)]="deckSearchOptions.search" (keydown.enter)="searchClick()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)="searchClick()" ><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <a class="searchlink" role="button" [routerLink]="" queryParamsHandling="preserve" (click)="toggleAvancedSearch()">{{ "global.search.advanced" | translate}}</a>
      <a class="searchlink" role="button" [routerLink]="" queryParamsHandling="preserve" (click)="clear()">{{ "global.search.clear" | translate}}</a>
    </div>
  </div>
  
  <p-panel class="p-my-2" [toggleable]="true" [collapsed]="hideAvancedSearch" [showHeader]="false">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field-checkbox p-col">
        <p-checkbox [(ngModel)]="deckSearchOptions.excludeDrafts" binary="true" inputId="search_deck_exclude_drafts" [disabled]="loading" (onChange)="searchClick()"></p-checkbox>
        <label for="search_deck_exclude_drafts">{{"decks.exculed-draft-decks" |translate}}</label>
      </div>
      <div class="p-field-checkbox p-col" *ngIf="isAuthenticated">
          <p-checkbox [(ngModel)]="deckSearchOptions.myDecks" binary="true" inputId="search_deck_myown" [disabled]="loading" (onChange)="searchClick()"></p-checkbox>
          <label for="search_deck_myown">{{"decks.only-my-decks" |translate}}</label>
      </div>
    </div>
  </p-panel>

    <p-table #decksTable
            [value]="deckSearchResult.items"
            [resizableColumns]="true"
            [autoLayout]="true"
            [rowHover]="true"
            [lazy]="true"
            (onLazyLoad)="loadData($event)"
            [paginator]="true"
            paginatorPosition="both"
            [rows]="30"
            [totalRecords]="deckSearchResult.totalItems"
            [showCurrentPageReport]="false"
            currentPageReportTemplate="{{'grids.total' | translate}}: {{deckSearchResult.totalItems}}"
            [loading]="loading">
  
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">{{"deck.field.name" |translate}} <p-sortIcon [field]="'name'"></p-sortIcon></th>
          <th pSortableColumn="creator.name">{{"deck.field.creator" |translate}} <p-sortIcon [field]="'creator.name'"></p-sortIcon></th>
          <th pSortableColumn="status.name">{{"deck.field.status" |translate}} <p-sortIcon [field]="'status.name'"></p-sortIcon></th>
          <th pSortableColumn="lastModifiedTime">{{"deck.field.last-modified-on" |translate}} <p-sortIcon [field]="'lastModifiedTime'"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-deck>
        <tr>
          <td><a [title]="deck.name" [routerLink]="['/decks', deck.guid]">{{ deck.name }}</a></td>
          <td>{{deck.creator.name}}</td>
          <td>{{deck.status?.name ? deck.status?.name : ""}}</td>
          <td>{{deck.lastModifiedTime | date:'yyyy-MM-dd'}}</td>
          <td style="text-align: right"><a role="button" *ngIf="deck.isGenerated" href="{{deck.zip}}"  target="_blank" >{{"decks.download-zip-pdf" |translate}} <i class="pi pi-file-pdf"></i></a></td>
        </tr>
      </ng-template>
      
    </p-table>
  
    <p-sidebar [(visible)]="showDeckCreation" position="right" styleClass="p-sidebar-md">
      <h1>{{ "decks.create-new-deck" |translate}}</h1>
  
      <div class="p-fluid">
        <div class="p-field">
            <label for="deck_name">{{"deck.field.name" |translate}}*</label>
            <input id="deck_name" #deck_name="ngModel" [(ngModel)]="newDeck.name" [disabled]="loading" type="text" pInputText required> 
            <div *ngIf="deck_name.invalid && (deck_name.dirty || deck_name.touched)" class="requried-input-field">
              <div *ngIf="deck_name.errors.required">*{{"deck.field.name.required" |translate}}</div>
            </div>
        </div>
        <div class="p-d-flex p-jc-end">
          <button type="button" (click)="saveDeck()" [disabled]="newDeck?.name == null || newDeck.name == '' " class="btn btn-primary float-right">{{"global.save" |translate}}</button>
        </div>
      </div>
  
    </p-sidebar>
  
  </div>
  
