.createContainer {
    min-height: calc(100vh - 60px - 59px - 70px);
    justify-content: end;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("./../../../assets/img/header1.webp");
}

.logonotag{
    background-size: 100%;
    height: 23vh;
    background-repeat: no-repeat;
    width: 34vw;
    background-image: url("./../../../assets/img/logo_notag.webp");
}

.playButton {
    height: 8vh;
    font-size: 3.5vh;
    width: 30vw;
    margin-top: 1vh;
}

.playInfo {
   justify-content: center;
   align-items: center;
   margin-top: 16vh;
   margin-bottom: 1vh;
}