<div class="p-d-flex p-flex-column">

    <h1>{{'invite.you-have-been-invited' | translate}}</h1>
    <h2 *ngIf="invitedBy">{{'invite.invited-by' | translate}} {{invitedBy}}</h2>
    <h2 *ngIf="game">{{'invite.created-at' | translate}} {{invitedBy}} {{ game.createTime | date:'yyyy-MM-dd HH:MM:ss'}}</h2>
    <h2 *ngIf="game">{{'invite.game-name' | translate}} {{invitedBy}} '{{game.name}}'</h2>
    
    <h1 *ngIf="gameExpired">{{'invite.expired' | translate}} {{invitedBy}}</h1>

    <p-steps  *ngIf="game?.canJoin && !started" [model]="gameSetupSteps" [activeIndex]="activeIndex" class="gamesetupsteps"></p-steps>

    <div class="p-mt-3" *ngIf="game && !started">
        <div class="p-fluid p-grid" *ngIf="game.canJoin">
            <div class="p-col p-px-3">
                <input class="p-mx-auto" type="text"  inputId="player_name" name="player_name" [(ngModel)]="userName" [disabled]="isAuthenticated" (focus)="onNameFocus()" pInputText/>
            </div>
            <div class="p-col p-px-3" *ngIf="!invitedBy">
                <p-button class="p-button-outlined" label="{{'invite.link' | translate}}" icon="pi pi-link" iconPos="right" (onClick)="copyInviteLink()"></p-button>
            </div>
            <div class="p-col  p-px-3">
                <p-autoComplete [(ngModel)]="game.selectedDeck" placeholder="{{'global.select' | translate}}" [suggestions]="deckSearchResult.items" (completeMethod)="autoSearchClick($event)" (onShow)="onDeckSelectFocus()" (onClear)="deckCleared($event)" (onSelect)="deckSelected($event)" [forceSelection]=true [dropdown]="true" field="name" dataKey="guid"></p-autoComplete>
                <div class="p-fluid p-m-3">
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="deckSearchOptions.excludeDrafts" binary="true" inputId="search_deck_exclude_drafts" [disabled]="loading"></p-checkbox>
                        <label for="search_deck_exclude_drafts">{{'invite.exculed-draft-decks' | translate}}</label>
                    </div>
                    <div class="p-field-checkbox" *ngIf="isAuthenticated">
                        <p-checkbox [(ngModel)]="deckSearchOptions.myDecks" binary="true" inputId="search_deck_myown" [disabled]="loading"></p-checkbox>
                        <label for="search_deck_myown">{{'invite.only-my-decks' | translate}}</label>
                    </div>
                </div>
            </div>
         
            <div class="p-col p-px-3">
                <p-button  [disabled]="!game.selectedDeck"  label="{{'invite.start' | translate}}" icon="pi pi-play" iconPos="right" (onClick)="joinGame(game, game.selectedDeck)"></p-button>
            </div>
            
        </div>
        <h1 *ngIf="!game.canJoin">{{'invite.full' | translate}}</h1>
    </div>

    <div class="p-mt-2" *ngIf="showCarousel && !started">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let deckCard of deck.deckCards; trackBy:trackByGuid" class="slide">
            <div class="overlaycontainer">
                <img  severity="success" src="{{apiUri + deckCard.card.jpeg}}"  style="max-width: 95%" draggable="false" *ngIf="deck.deckCards"/>
                <p-badge [value]="deckCard.quantity" size="xlarge" severity="info" class="overlaynumber" ></p-badge>
            </div> 
        </div>
        </ngx-slick-carousel>
    </div>

    <div class="p-mt-2" *ngIf="started">
        <h1>{{'invite.started' | translate}}</h1>
        <div *ngIf="!invitedBy" class="p-mt-2">
            <h2>{{'invite.invite-link-info' | translate}}</h2>
            <p-button class="p-button-outlined" label="{{'invite.link' | translate}}" icon="pi pi-link" iconPos="right" (onClick)="copyInviteLink()"></p-button>
        </div>
    </div>


</div>
