<div class="p-d-flex p-flex-column">

    <h1>{{'invite.you-have-been-invited' | translate}}</h1>
    <h2 *ngIf="invitedBy">{{'invite.invited-by' | translate}} {{invitedBy}}</h2>
    <h2 *ngIf="game">{{'invite.created-at' | translate}} {{invitedBy}} {{ game.createTime | date:'yyyy-MM-dd HH:MM:ss'}}</h2>
    <h2 *ngIf="game">{{'invite.game-name' | translate}} {{invitedBy}} '{{game.name}}'</h2>
    
    <h1 *ngIf="gameExpired">{{'invite.expired' | translate}} {{invitedBy}}</h1>

    <p-steps  *ngIf="game?.canJoin && !started" [model]="gameSetupSteps" [activeIndex]="activeIndex" class="gamesetupsteps"></p-steps>

    <div class="p-mt-3" *ngIf="game && !started">
        <div class="p-fluid p-grid" *ngIf="game.canJoin">
            <div class="p-col p-px-3">
                <input class="p-mx-auto" type="text"  inputId="player_name" name="player_name" [(ngModel)]="userName" [disabled]="isAuthenticated" (focus)="onNameFocus()" pInputText/>
            </div>
            <div class="p-col p-px-3" *ngIf="!invitedBy">
                <p-button class="p-button-outlined" label="{{'invite.link' | translate}}" icon="pi pi-link" iconPos="right" (onClick)="copyInviteLink()"></p-button>
            </div>
            <div class="p-col  p-px-3">
                <p-autoComplete [(ngModel)]="game.selectedDeck" placeholder="{{'global.select' | translate}}" [suggestions]="deckSearchResult.items" (completeMethod)="autoSearchClick($event)" (onShow)="onDeckSelectFocus()" (onClear)="deckCleared($event)" (onSelect)="deckSelected($event)" [forceSelection]=true [dropdown]="true" field="name" dataKey="guid"></p-autoComplete>
                <div class="p-fluid p-m-3">
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="deckSearchOptions.excludeDrafts" binary="true" inputId="search_deck_exclude_drafts" [disabled]="loading"></p-checkbox>
                        <label for="search_deck_exclude_drafts">{{'invite.exculed-draft-decks' | translate}}</label>
                    </div>
                    <div class="p-field-checkbox" *ngIf="isAuthenticated">
                        <p-checkbox [(ngModel)]="deckSearchOptions.myDecks" binary="true" inputId="search_deck_myown" [disabled]="loading"></p-checkbox>
                        <label for="search_deck_myown">{{'invite.only-my-decks' | translate}}</label>
                    </div>
                </div>
            </div>
         
            <div class="p-col p-px-3">
                <p-button  [disabled]="!game.selectedDeck"  label="{{'invite.start' | translate}}" icon="pi pi-play" iconPos="right" (onClick)="joinGame(game, game.selectedDeck)"></p-button>
                <div class="p-d-flex p-m-1" *ngIf="!isAuthenticated">
                    <div [innerHTML]="'invite.terms-of-service' | translate"></div>
                  </div>
            </div>
            
        </div>
        <h1 *ngIf="!game.canJoin">{{'invite.full' | translate}}</h1>
    </div>

    <div class="p-mt-2" *ngIf="showCarousel && !started">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let deckCard of deck.deckCards; trackBy:trackByGuid" class="slide">
            <div class="overlaycontainer">
                <img  severity="success" src="{{apiUri + deckCard.card.jpeg}}"  style="max-width: 95%" draggable="false" *ngIf="deck.deckCards"/>
                <p-badge [value]="deckCard.quantity" size="xlarge" severity="info" class="overlaynumber" ></p-badge>
            </div> 
        </div>
        </ngx-slick-carousel>
        <div class="p-my-5" >
            <p-table #deckCardsTableReadOnly
                [value]="deck.deckCards"
                [resizableColumns]="true"
                [autoLayout]="true"
                [rowHover]="true"
                [lazy]="false"
                [paginator]="true"
                paginatorPosition="both"
                [rows]="100"
                [totalRecords]="deck.totalCards"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{{'deck.unique-cards' | translate}}: {{deck?.deckCards?.length}}, {{'deck.total-cards' | translate}}: {{deck?.totalCards}}"
                [loading]="loading">
    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em"></th>
                        <th pSortableColumn="card.name">{{'deck.card-name' | translate}} <p-sortIcon [field]="'card.name'"></p-sortIcon></th>
                        <th pSortableColumn="type.name">{{ "card.field.type" | translate }} <p-sortIcon [field]="'type.name'"></p-sortIcon></th>
                        <th pSortableColumn="faction.name">{{ "card.field.faction" | translate }} <p-sortIcon [field]="'faction.name'"></p-sortIcon></th>
                        <th pSortableColumn="cost" style="text-align:center">{{ "card.field.cost.short" | translate }} <p-sortIcon [field]="'cost'"></p-sortIcon></th>
                        <th pSortableColumn="loyalty" style="text-align:center">{{ "card.field.loyalty.short" | translate }} <p-sortIcon [field]="'loyalty'"></p-sortIcon></th>
                        <th pSortableColumn="attack" style="text-align:center">{{ "card.field.attack.short" | translate }} <p-sortIcon [field]="'attack'"></p-sortIcon></th>
                        <th pSortableColumn="defense" style="text-align:center">{{ "card.field.defense.short" | translate }} <p-sortIcon [field]="'defense'"></p-sortIcon></th>
                        <th pSortableColumn="quantity" style="text-align:right">{{'deck.card-amount' | translate}} <p-sortIcon [field]="'quantity'"></p-sortIcon></th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-deckCard>
                    <tr>
                        <td><a (mouseenter)="selectCard($event,deckCard.card,cardOverlayPanel)" ><i class="fas fa-info-circle"></i></a></td>
                        <td> <a [href]="'/#/cards/' + deckCard.card.guid" target="_blank" [title]="deckCard.card.name" >{{ deckCard.card.name }}</a></td>
                        <td>{{deckCard.card.type.name}}</td>
                        <td>{{deckCard.card.faction.name}}</td>
                        <td style="text-align:center">{{deckCard.card.cost}}</td>
                        <td style="text-align:center">{{deckCard.card.loyalty}}</td>
                        <td style="text-align:center">{{deckCard.card.attack}}</td>
                        <td style="text-align:center">{{deckCard.card.defense}}</td>
                        <td style="text-align:right">{{deckCard.quantity}}</td>
                    </tr>
                </ng-template>
    
            </p-table>
        </div>
    </div>

    <div class="p-mt-2" *ngIf="started">
        <h1>{{'invite.started' | translate}}</h1>
        <div *ngIf="!invitedBy" class="p-mt-2">
            <h2>{{'invite.invite-link-info' | translate}}</h2>
            <p-button class="p-button-outlined" label="{{'invite.link' | translate}}" icon="pi pi-link" iconPos="right" (onClick)="copyInviteLink()"></p-button>
        </div>
    </div>


</div>

<p-overlayPanel #cardOverlayPanel>
    <img src="{{apiUri + selectedCard.jpeg}}" *ngIf="selectedCard" height="350px"/>
</p-overlayPanel>
