body {
  color: $body-color;
  background-color: $body-bg;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: $font-size-default;
  line-height: 1.42857143;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  margin-top: 30px;
  margin-bottom: 1rem;
  flex: 1;
  min-height: calc(100vh - 85px - 64px - 16px - 70px);
}

body a {
  color: $colorPrimary;
}

body a:hover {
  color: $colorSecondary !important;
}

.searchlink {
  margin-left: 10px;
}

.card-info-icon {
  color: $colorPrimary !important;
  :hover {
    cursor: pointer;
    color: $colorSecondary !important;
  }
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem  rgba(0, 0, 0, 0.1);
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $colorPrimary !important;
  background: $colorPrimary !important;
}

.p-badge.p-badge-xl {
  font-size: 1.25rem !important;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
  line-height: 2.5rem !important;
}

.p-badge.p-badge-info {
  background-color: $colorPrimary !important;
  color: #fff;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}