<nav class="navbar navbar-expand-lg  navbar-primary">


  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    <svg-icon name="hamburger" [size]="32"></svg-icon>
  </button>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="btn btn-tertiary" [routerLink]="['/cards']">{{ "menu.cards" | translate }}</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="btn btn-tertiary" [routerLink]="['/decks']">{{ "menu.decks" | translate }}</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="btn btn-tertiary" [routerLink]="['/games']">{{ "menu.games" | translate }}</a>
      </li>

      <li class="nav-item" *ngIf="isAuthenticated && settingsOptions?.isPlayerAdmin" [routerLinkActive]="['link-active']">
        <a class="btn btn-tertiary" [routerLink]="['/players']">{{ "menu.players" | translate }}</a>
      </li>

      <li class="nav-item" *ngIf="!isAuthenticated" [routerLinkActive]="['link-active']">
        <a class="btn btn-tertiary" [routerLink]="['/login']" >{{ "menu.login" | translate }}</a>
      </li>

      <li class="nav-item" *ngIf="!isAuthenticated" [routerLinkActive]="['link-active']">
        <a class="btn btn-primary" [routerLink]="['/register']" >{{ "menu.register" | translate }}</a>
      </li>

      <li class="nav-item dropdown dropdown-user" *ngIf="isAuthenticated">
        <a class="btn btn-user nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          <span class="avatar avatar-sm avatar-type-man"></span> {{user?.name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> {{ "menu.logout" | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/settings', user?.guid]" ><i class="fas fa-cog"></i> {{ "menu.settings" | translate }}</a>
        </div>
      </li>

      <li class="nav-item dropdown dropdown-language">
        <p-dropdown id="navMenuLanguage"
        *ngIf="languages"
        [options]="languages"
        [ngModel]="translate.currentLang"
        (ngModelChange)="translate.use($event)"
        [style]="{'font-size':'12px'}"
        [autoDisplayFirst]="false"
        #languageDropdown>

        <ng-template let-language pTemplate="selectedItem">
        <span style="font-size: 12px;">{{language.label}}</span>
        </ng-template>

        <ng-template let-language
                  pTemplate="item">
        <span style="font-size: 12px;">{{language.label}}</span>
        </ng-template>

        </p-dropdown>
      </li>

    </ul>
  </div>
</nav>