<!-- application -->
<div class="container">
  

<div class="p-fluid" *ngIf="!resetFailed && !resetSuccess">
   
    <div class="p-field">
        <label for="registration_password">{{'password-reset.password' | translate }}</label>
        <input id="registration_password" type="password"  #registration_password="ngModel" [(ngModel)]="user.password" [disabled]="loading" required pInputText> 
        <div *ngIf="registration_password.invalid && (registration_password.dirty || registration_password.touched)" class="requried-input-field">
            <div *ngIf="registration_password.errors.required">{{'password-reset.password.required' | translate }}</div>
        </div>
    </div>
    <div class="p-field">
        <label for="registration_password2">{{'password-reset.password2' | translate }}</label>
        <input id="registration_password2" type="password"  #registration_password2="ngModel" [(ngModel)]="user.password2" [disabled]="loading" required pInputText> 
        <div *ngIf="registration_password2.invalid && (registration_password2.dirty || registration_password2.touched)" class="requried-input-field">
            <div *ngIf="registration_password2.errors.required">{{'password-reset.password2.required' | translate }}</div>
        </div>
    </div>

    <div *ngIf="resetErrorMessage">{{resetErrorMessage}}</div>
    <div class="p-d-flex p-jc-end">
        <button type="button" (click)="submitPasswordReset()" [disabled]="isPasswordResetDisabled" class="btn btn-primary float-right">{{'password-reset.reset' | translate }}</button>
    </div>
</div>

<div class="p-fluid" *ngIf="resetFailed">
    <h1>{{ 'password-reset.failed' | translate}}</h1>
</div>

<div class="p-fluid" *ngIf="resetSuccess">
    <h1>{{ 'password-reset.back-in-business' | translate}}</h1>
</div>

</div>